[2018-02-09 08:35] OrangeXC opened #1 "Total precache size is about 0 B for 0 resources."
# Expected Behavior

The `next-offline` should precache all .next folder's ressources?

# Current Behavior

Cache nothing.

Steps to Reproduce (for bugs)

* Do install same README document
* Run npm build

The result is:

# Context

I would like to use `next-offline` with NextJS

# My Environment

Tech | Version
-- | --
next | 5.0.0
React | 16.2
node | 8.9.4
OS | MacOSX
browser | Chrome
etc

[2018-02-09 17:44] hanford commented on #1
Thanks for the issue @OrangeXC!

I believe that is because the default caching strategy is `networkFirst` which means by default the service worker will try to hit the network to load assets, and will only fall back to the cache if the network request fails. The image below describes it well

![35582735-7b5f970e-05a4-11e8-8397-ea8e69c7fa1d](https://user-images.githubusercontent.com/2148168/3604135

[2018-02-10 11:58] gerhardsletten opened #2 "Homepage not in cached after initial visit"
hi @hanford

Much like you, I have a similar site like jackhanford.com, but one thing that bothers me is when a new user enters the site, the homepage will not be in cache after just one visit to the site. You will need to do a full reload, or a secondary visit before the homepage will work when offline.

Do you have any suggestions on this issue?

[2018-02-10 19:18] hanford commented on #2
@gerhardsletten interesting, can you give me more information about what browser / OS / url / etc

[2018-02-11 02:00] hanford commented on #2
@gerhardsletten interesting I noticed this too while playing around with my website on incognito. I'm not certain why, i can spend some time on Monday looking a little deeper.

[2018-02-11 10:45] gerhardsletten commented on #2
Hi @hanford

The default config is opting of of using `sw-precache` since all next-assets are to be ignored. Instead it utilize `sw-toolbox` caching, and this will start after the service-worker is installed. You can see it in the Application > Cache in devtools that the sw-precache si empty.

[code]
Also if you inspect the generated service-worker.js script the `precacheConfig` is an empty array.

[2018-02-13 18:05] hanford opened #3 "explore workbox support"
Both #2 #1 are experiencing some bugs that appear to be related Next.js + sw-precache, I've decided to explore alternative approaches and it appears there are many.

I'm thinking about supporting both [sw-precache](https://github.com/GoogleChromeLabs/sw-precache) and [workbox](workboxjs.org) ..

In the `workbox` branch I almost have workbox running 100%, I'll need to clean up this [script](https:/

[2018-02-13 18:05] hanford commented on #2
@gerhardsletten going to close in favor of #3

[2018-02-13 18:05] #2 closed

[2018-02-13 18:05] hanford commented on #1
closing in favor of #3

[2018-02-13 18:05] #1 closed

[2018-02-13 21:23] hanford commented on #3
I've fixed the precache script so now it should work in all next.js applications ...

I also have two environments running [one with precache](https://with-sw-precache-rkrcakdmuq.now.sh/) and [one with workbox](https://with-workbox-rfrtrxevxf.now.sh/)

[2018-02-13 21:31] gerhardsletten commented on #3
@hanford Hi, have been looking into this lately as well, and I have resolved it my own nextjs site. Original thought to cache (with precache) assets from `next build` but there where 2 drawbacks:

* Inspecting next's Head and NextScripts component reveal that reveals that js-files are served in a different, so just replacing `.next` with `_next` will not work.
* Also I had inline images I would li

[2018-02-13 22:51] hanford commented on #3
@gerhardsletten FWIW my workbox stuff from ^ caches everything (api calls, assets, pages, etc) .. even requests to third parties (like google!) .. the script I wrote above works, but it needs to execute after build .. and it will correctly inline all `js` assets into the precache sw. An example on a relatively complex website can be seen [here](https://sw-test.now.sh).

I think this should solve y

[2018-02-13 23:24] gerhardsletten commented on #3
Looks good, but if I understands correctly everything is controlled by this script [sw-test.now.sh/service-worker.js](https://sw-test.now.sh/service-worker.js)?

One thing I wonder about is the path's NextJS serve for its app, pages and chunks  if it would be possible for NextJS to expose them in some way.

And yes, Workbox as a descender of sw-precache is the way to go

[2018-02-14 08:14] hanford commented on #3
@gerhardsletten shipped `1.0.0` I've updated my personal website with the newest implementation and you can see pre-caching app, pages and chunks by default on first visit. (Might need to unregister my service worker and hard refresh)

[2018-02-14 08:14] #3 closed

[2018-02-16 11:25] designspin opened #6 "Great Plugin"
Hi,

I was using the sw-precache-webpack plugin to get offline support working. I had this setup alongside Onesignal for push notifications. The thing is I have to import my service worker with importScripts into the Onesignal workers.

Is there any way of disabling the registration of the service worker provided by this plugin, so I can just import it or manually start it myself?

[2018-02-16 12:25] designspin commented on #6
Okay, I managed to get it working by using the further webpack configuration function provided:

entries['main.js'] = entries['main.js'].filter(entry => !entry.endsWith('next-offline/register-sw.js'));

I have a custom server setup, I have a route setup for articles, so urls like /article/:slug

For these routes I get a 404 from the service worker, how can I overcome this?

[2018-02-16 21:23] hanford commented on #6
@designspin I can easily add an option to disabling `next-offline` from automatically registering. I'll try and get to it sometime early next week and will update this thread accordingly

[2018-02-17 14:04] designspin commented on #6
@hanford , I got around it easy enough, but I guess that would be useful as part of your plugin for future users. I'll update to latest version when available. Thanks for the plugin, a lot tidier than what I had going prior to discovering this.

[2018-02-19 19:15] hanford commented on #6
@designspin added a top level `dontAutoRegisterSw` flag which is live in version `2.1.0` it should allow you to easily disable the behavior you mentioned above.

Let me know if you have any other ideas!

[2018-02-19 19:15] #6 closed

[2018-02-23 22:36] gerhardsletten opened #8 "Runtime cache of initial route"
Hi @hanford

I am trying out this plugin, and its great that is caches all js-files, but still the issue with runtime cache of initial route is present.

It's the old story about a user that visit your homepage, navigate to  sub-page and then leaves. If he never navigate back to your homepage, he will later get the chome-dino if he (while offline) try to visit your homepage.

Do you have any thoug

[2018-02-26 18:18] hanford commented on #8
@gerhardsletten interesting, will hopefully have some time to take a look today.

[2018-02-27 08:19] gerhardsletten commented on #8
@hanford For initial route-caching I think it has to go into the runtime caching, but it looks like the the method for manually caching of an url is not supported in workbox 3.x, [see this issue](https://github.com/GoogleChrome/workbox/issues/807)

[2018-03-01 16:24] mrmartineau opened #10 "How to version the ServiceWorker?"
@hanford do you know how to version the generated service worker? Or, rather, how does this plugin change the service worker (SW) file so that a new version is requested by a user's browser?

It looks like the SW changes on each build from next, so does that mean it wouldn't change until a new deployment/build of next?

[2018-03-01 21:02] hanford commented on #10
that is correct @mrmartineau , currently `next-offline` is piggybacking heavily on the newest version of [workbox](https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin) which basically just creates a new version every deploy.

I think you can fine tune that, but you'd have to follow the documentation ^

[2018-03-01 22:32] hanford commented on #8
interesting @gerhardsletten. So we're generating a service-worker using the `GenerateSW` webpack-loader from google that can be seen over [here](https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin) I then wrote another custom webpack loader that will grab all the assets after build and generate a list like the one below:
[code]

Next.js does some funny stuff with moving

[2018-03-01 23:22] gerhardsletten commented on #8
After how I understand a service-worker it needs to be installed before it can cache additional resources (that is not defined to be precached), and I guess workbox does not have any magic solution for that.

My approach was to create a NextAssets component with a render-callback that I would use in my _document.js override in order to expose which js and img resources needed for the initial route

[2018-03-02 10:27] mrmartineau commented on #10
@hanford thanks for the clarification, and for creating this plugin. Was setting it up on my site yesterday.

[2018-03-02 10:27] #10 closed

[2018-03-23 16:42] FBerthelot opened #11 "nuxt export"
When I export the next projet via `next export`, files are not exported in the `.out` folder.

How can I have files in the .out folder ?

[2018-03-23 19:45] hanford commented on #11
interesting, i can take a look this weekend

[2018-03-26 06:49] FBerthelot commented on #11
You are welcome :)

By the way, if you want some help, I will be really happy.

I want to discover how I can extend next. It can be a good way to start.

[2018-03-26 07:47] hanford commented on #11
@FBerthelot I have a good idea of how to make this work, I'm going to decorate the `exportPath` method that Next.js is requiring when `next export` is run and will try to add the service worker at that point.

I have some code started over here: https://github.com/hanford/next-offline/blob/v2.3.0/index.js#L11 though it's made me want to potentially refactor the initial implementation to make `next

[2018-03-29 02:56] wescoder opened #14 "Allow to use InjectManifest plugin instead of GenerateSw"
My use case requires to have custom service-worker logic.
I forked this repo and added the possibility to have a custom sw file via `InjectManifest` passing an `generateSw` `false` boolean option to `next-offline` like:
[code]

[2018-03-29 16:49] #14 closed

[2018-03-29 16:51] hanford commented on #11
disregard most of^

I think [Next@5.1](https://zeit.co/blog/next5-1) some ways to make this work with less effort.

I can check it out sometime this weekend!

[2018-04-02 22:26] kevinpmiller opened #16 "Spread Syntax Error"
I recently installed the plugin and when I try to start my server I get the following error. Any ideas? My first thought was that I was missing something but I don't believe that's the case.

Thanks for taking a look!

next.config.js
------
const withCSS = require('@zeit/next-css')
const initReactFastclick = require('react-fastclick')
const withOffline = require('next-offline')

initReactFastclick

[2018-04-02 22:46] hanford commented on #16
@kevinpmiller What version of node are you using? I believe the rest/spread operator landed in Node 8.  I believe you can check by running `node -v`

[2018-04-04 22:58] FBerthelot commented on #11
Hello,

I've initialized this PR to make me familiar with your code and next plugin system. #19

What do you think I must do ? Waiting to your total migration to workbox-build or continue with both workbox-build and workbox-webpack-plugin ?

PS: I was very busy these times. It's a little bit better now, I hope I will continue this PR tomorrow :)

[2018-04-05 10:34] wanoo21 opened #20 "Set debug to false"
Hi There, thank you very much for your plugin!
I installed and it works very well, but I'd like to disable **debug**, how can I do that?

[2018-04-05 19:36] hanford commented on #20
not sure I know what `debug` is.

Is this related to workbox? Next.js? can you elaborate a little more?

[2018-04-05 22:58] hanford commented on #20
@wanoo21 I've asked the workbox slack. If there is a way to, i can add support as soon as they respond!

[2018-04-05 23:45] hanford commented on #11
Ahh just seeing this now, I too am very busy this time of year! I likely won't make any major changes using `workbox-build` anymore. I was able to get the webpack side working as intended

[2018-04-06 07:09] wanoo21 commented on #20
@hanford OK, Thank you very much!

[2018-04-06 17:05] kevinpmiller commented on #16
@hanford That was exactly it, thanks! Everything appears to be working now but I have a question on the server.js file. I am using express for my server and the urls / and /search/:id don't seem to work offline. Below is my configuration, I think I need to re-arrange things a little, can you point me in the right direction?

Thanks for all of your help and let me know if I should create a new issu

[2018-04-06 19:11] hanford commented on #16
Going to close this because the original issue has been resolved. If you want you can create another with the above problem, but AFAIK with dynamic data, because `request.params.id` could be _anything_ it'll only work offline if the user has navigated to it at least once before.

[2018-04-06 19:11] #16 closed

[2018-04-09 17:55] hanford commented on #20
@wanoo21 so it looks like they recommend using `InjectManifest` which will take an exsiting service worker and inject the workbox manifest / code into an existing service worker instead of using `GenerateSW` (the default that next-offline uses)... you can use `injectManifest` by disabling the `generateSw` option with next-offline, I should probably add some better documentation around that.

Here

[2018-04-09 22:37] FBerthelot commented on #11
Hello,

I've looked your github profil and seen you are working at eaze. I didn't know this company before but i had an idea :)

Next month my french company, Zenika, organize for the second time a learning expedition to San Francisco. During this week, some of my colleagues and I wish to meet engineers and understand how they work, on which technologies, and what is the day to day life in a compa

[2018-04-10 06:59] wanoo21 commented on #20
@hanford Thank you!

[2018-04-22 00:32] unindented opened #22 "Unnecessary `console.log`"
I think these [console statements](https://github.com/hanford/next-offline/blob/d89e87e384f02cf45e82177911894e19573fdd4c/register-sw.js#L4-L6) are unnecessary, given that Workbox is already pretty verbose. What do you think?

<img width="834" alt="screen shot 2018-04-21 at 5 30 57 pm" src="https://user-images.githubusercontent.com/69485/39090099-e905ce02-4589-11e8-9afd-a477bd2069fd.png">

[2018-04-23 01:56] hanford commented on #22
I actually find it useful as my environment is typically `NODE_ENV=production` so workbox doesn't have any output.

What is probably a better solution though is making the additional logging an option that is disabled by default. I can probably get that out over the next few days, unless you want to take a crack at it.

cheers!

[2018-05-04 08:21] hanford opened #23 "better next export support"
currently `next-offline` only works with `next export` when the user has an `exportPathMap` `Next@6.0.0` now will generate the path map if the user doesn't declare one and `next-offline` should support that use case.

[2018-05-13 23:26] joaovieira commented on #23
@hanford that export is also not compatible with Next apps on a custom `dir` (e.g. `/app` instead of `.`) and/or with a custom `distDir` (e.g. `/build` instead of `/.next`) as it's assuming everything will be built under `$projectRoot/.next`. Don't know if that's a known issue and if you want to bundle in here.

[2018-05-14 17:02] hanford commented on #23
@joaovieira can you move that to a new issue? That should very easy to support :)

[2018-05-21 22:52] joaovieira opened #24 "Support custom dir + distDir"
From the discussion in #23:

Don't know how to get this information in the `exportPathMap` step (https://github.com/hanford/next-offline/blob/master/export.js#L23) as I think this is only (?) exposed in the webpack config options. If there's any ideas/guidance I can do the PR.

[2018-05-24 15:02] willcodes opened #25 "Ie11 arrow function issue"
register-sw.js uses arrow functions which is not supported in ie11. I see there is an option to disable automatic registration to avoid this from being fired, but is there a way to customize this without injecting my own?

[2018-05-24 17:01] hanford commented on #25
@willcodes we don't use the `this` context, so the arrow functions were just a style choice on my end.

I've migrated them to use the function keyword instead!

[2018-05-24 17:03] hanford commented on #25
this fix is live in `next-offline@2.7.1`

[2018-05-24 17:03] #25 closed

[2018-05-25 14:47] willcodes commented on #25
Hey thanks so much for the quick fix! By the way this library saved me a lot of time - awesome work

[2018-05-25 17:04] hanford commented on #24
@joaovieira we should be able to access this information from the `nextConfig` object if it's defined, otherwise we'd want to fallback to the default (`out` directory).

Let me know if you have any additional questions!

[2018-06-04 08:04] Huvik opened #27 "Styles rendering"
Hey, I was wondering if its possible with `styled-jsx` have styles rendered in the first load like server-side rendering does. Instead of "blink" between app without style and rendering it after the first render.

[2018-06-05 05:35] hanford commented on #27
Hmm, things are working for me with the css-in-js library I've been using ([emotion](emotion.sh)) .. I can check `styled-jsx` some time tomorrow and let you know.

[2018-06-05 05:36] hanford commented on #27
My personal website is here: [hanford/personal-website](https://github.com/hanford) if you want to check out the code

[2018-06-05 23:13] hanford commented on #27
@Huvik not sure if the issue you're having is related to `next-offline` I've set up a small repo: [offline-styledjsx](https://github.com/hanford/offline-styledjsx) demonstrating that `styled-jsx` works entirely offline.

You can check out a live environment here: https://create-next-example-app-nqpmeicidf.now.sh/

[2018-06-08 19:59] #27 closed

[2018-07-02 19:24] cyrilwanner opened #31 "Dev build fails if there is no .next dir"
Coming from cyrilwanner/next-compose-plugins#11, the development build/server fails when there is no `.next` directory containing a build. This can happen when a project is set up/cloned initially or when the folder gets removed before a new dev build.

I created a minimal repository to reproduce this bug with only next-offline used: https://github.com/cyrilwanner/next-offline-bug

I think that ne

[2018-07-03 16:19] hanford commented on #31
In the middle of starting a new job. I'll hopefully get some time to dig a little deeper into this later this week, will update this issue accordingly

[2018-07-04 05:34] qihong1983 opened #32 "service-worker.js http 404"
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function () {
    navigator.serviceWorker.register('/service-worker.js').then(function (registration) {
      console.log('SW registered: ', registration)
    }).catch(function (registrationError) {
      console.log('SW registration failed: ', registrationError)
    })
  })
}

[2018-07-05 00:05] hanford commented on #32
?

[2018-07-05 16:30] hanford commented on #32
I'm going to close until there is more information

[2018-07-05 16:30] #32 closed

[2018-07-06 07:03] NathanielHill opened #33 "Update next peer dependency"
I believe `"next" :"^5.0.0 || ^6.0.0"` should do the trick.

[2018-07-09 00:59] hanford commented on #33
I'm surprised `^5.0.0` doesn't encompass `6.0.0`.. 👀

[2018-07-09 01:00] #33 closed

[2018-07-09 01:02] NathanielHill commented on #33
Yeah, that's only minor bumps:

https://docs.npmjs.com/getting-started/semantic-versioning#semver-for-consumers

You can always check with the calculator here:

https://semver.npmjs.com/

[2018-07-09 16:01] hanford commented on #33
Thanks for sharing the calculator @NathanielHill, super useful resource

[2018-07-09 16:24] NathanielHill commented on #33
No problem, I've used it a lot. In theory you could do something like `>=5`, but semantic versioning implies major releases have breaking changes which could make them incompatible with your package. So, seems best to simply add each new major version of next after verifying `next-offline` works :+1:

[2018-07-11 16:30] #22 closed

[2018-07-12 17:52] elsigh commented on #8
Looks like they closed that issue and provided an example? Maybe that would be feasible to incorporate?

[2018-07-13 06:19] hanford commented on #31
Thanks for opening the issue @cyrilwanner! haven't forgotten about this, just been very swamped.

[2018-07-13 06:55] hanford commented on #8
PR would be super helpful @elsigh, I am pretty swamped right now! (job transition)

[2018-07-13 08:37] cyrilwanner commented on #31
No problem ;) Take your time, it's not a critical issue (at least for me) as next-offline can just be excluded in the development server phase when using next-compose-plugin. It's more of an improvement for people who don't use the compose plugin or when cloning a repository initially.

[2018-07-17 01:44] #24 closed

[2018-07-19 18:02] CharlyJazz opened #35 "I need write a custom code in the service worker file"
I need write code to manage push notifications and more! How can i do it?

[2018-07-19 21:56] hanford commented on #35
You'll need to pass in some `next-offline` specific options, and then some `workbox` options.

Things should looks something like this:

[code]

by passing in `generateSw: false` next-offline utilizes the workbox injectManifest webpack loader. All options passed to next-offline automatically will be passed to that workbox loader.

Here is a link to their documentation: https://developers.google.co

[2018-07-20 14:52] blazeu opened #36 "Exclude _document.js"
There is no `_document.js` in `_next` directory, but it is added to precache list, resulting 404 calls in SW.

[2018-07-20 22:02] hanford commented on #36
Can you provide some additional information or a repo to reproduce this error? It's working for me in these two apps:

https://jackhanford.com/
https://trends.now.sh/

[2018-07-21 04:14] blazeu commented on #36
Hmm, looks like it only happened in my dev machine and on my current project.

Building my current project in Netlify doesn't cause this problem.

Anyway, the error doesn't break the precaching, it's just a wasted network request.

Closing..

[2018-07-21 04:14] #36 closed

[2018-07-21 19:15] hanford commented on #36
Interesting. Feel free to reopen if you can reliably repro.

[2018-07-22 21:56] CharlyJazz commented on #35
Hi, Sr!

@hanford

But if this is so because the generated service worker has these two lines:

![image](https://user-images.githubusercontent.com/12489333/43050502-a9f9ea90-8dd7-11e8-80b2-fb7ba1399437.png)

This is my configuration:

![image](https://user-images.githubusercontent.com/12489333/43050505-c290f378-8dd7-11e8-8cf0-fee0c6b85ae1.png)

Those two lines are in the generated sw. But I wrote

[2018-07-24 16:45] hanford commented on #35
I'll check out your repo when I get chance and dig a little deeper.

[2018-07-24 23:59] CharlyJazz commented on #35
Cool @hanford Keep in touch!

[2018-08-01 05:51] alexanbj opened #37 "Nested pages aren't precached"
If you have nested routes/pages they aren't precached by the plugin. Only the top level pages are precached. Not sure if this is intentional or a bug.

Here is an example of a directory structure where only one of the two pages is precached.

[code]

[2018-08-01 18:13] #37 closed

[2018-08-23 10:14] joaovieira commented on #35
@CharlyJazz

[code]

Add to your hand-written (?) service worker:

[code]

[2018-08-23 13:42] joaovieira opened #45 "Remove hard-coded assumptions"
If I wanted to output the generated service worker to any other place (e.g. `.next/static` or `static` - so they are automatically statically served) using `workboxOpts.swDest` then everything else breaks 😬

[2018-08-23 21:19] danilobjr opened #46 "Support for Github Pages (gh-pages) prefix"
@hanford I'm trying to use `next export -o docs` to create a static site at `docs` folder and then deploy it to _gh-pages_.

A _Project Github Page_ as you know has the project name as a URL prefix:

[code]

My case:

[code]

**Problem**: The first line of the auto-generated _service-worker.js_ file has URLs pointed to `/_next/...`:

[code]

How can I achieve this?:

[code]

Thanks in advance.

[2018-08-23 21:36] #31 closed

[2018-08-23 22:05] mfix22 opened #47 "Build `service-worker.js` to `/static` to work better with `next export`"
Since `next export` automatically copies files from `/static` into the build folder, if the `service-worker.js` was output to there, then users wouldn't have to manually copy it over to the public directory (like we do [here](https://github.com/dawnlabs/carbon/blob/master/Dockerfile))

[2018-08-23 22:13] hanford commented on #47
Would love a PR

Feel free to ping me if you have any questions!

[2018-08-23 22:13] hanford commented on #45
@joaovieira can I close in favor of this issue?

https://github.com/hanford/next-offline/issues/47

[2018-08-23 22:29] joaovieira commented on #46
@danilobjr for Next-generated files, setting the Next.js's top-level [`assetPrefix` option](https://github.com/zeit/next.js/#cdn-support-with-asset-prefix) should do it. For your own files, check the `modifyUrlPrefix` for `workboxOpts`: https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin#full_generatesw_config

[2018-08-23 22:30] joaovieira commented on #45
Yep 👍Will chime in there.

[2018-08-23 22:34] joaovieira commented on #47
The sw output should be defined by the `swDest` option from workbox and everything else should work around it.

Is `/static` the right place? That's what `next-workbox` does, but it felt odd to me as well given it's not a generated folder and generating files into user folders may be unexpected. On the other side, `.next/static` is not automatically exported.

Ideas?

[2018-08-23 22:38] mfix22 commented on #47
It was actually working correctly! There was just a bug from using path.join instead of resolve (: PR mentioned above fixes it

[2018-08-23 22:41] #47 closed

[2018-08-24 11:16] joaovieira opened #49 "Use workbox precache manifest output"
While digging in I found out that `workbox-webpack-plugin` limits all of the "transform" options to the `globPattern` files only. I.e. don't run `modifyUrlPrefix` on webpack-generated assets, for example. See whole explanation [here](https://github.com/GoogleChrome/workbox/issues/1591#issuecomment-415727436).

I then found out this will be available in `workbox-webpack-plugin` v4: https://github.c

[2018-08-24 15:59] hanford commented on #49
Sounds good to me!

[2018-08-24 16:10] hanford commented on #46
@danilobjr can you try what @joaovieira suggested and report back? Going to close the issue in the meantime.

Happy to reopen if we need to further investigate

[2018-08-24 16:10] #46 closed

[2018-08-24 16:27] hanford commented on #49
Good catch! I can probably fix that today or this weekend unless you can beat me to it

[2018-08-24 16:52] joaovieira commented on #49
Nope, go ahead. I'll be on hols for the next week 😄

On Fri, 24 Aug 2018, 17:27 Jack Hanford, <notifications@github.com> wrote:

[2018-08-25 08:06] joaovieira commented on #46
Ah, for that I'm registering the SW myself in `_document`:

[code]

You can get the asset prefix from `this.props.__NEXT_DATA__.assetPrefix`.

[2018-08-27 18:54] danilobjr commented on #46
@joaovieira `scope` made it happen! :smiley:

Thank you guys.

[2018-08-31 09:19] Beelphegor opened #50 "How to transpile autogenerated service worker"
Hi,

My autogenerated service worker has a trailing comma when using the importScripts option from workbox, this is causing the service worker to fail to register in browsers that do not support the trailing comma on methods like Edge. Is there a way to transpile the autogenerated file before copying to ./next folder?

My config
[code]

Autogenerated trailing comma
[code]

Thanks : )

[2018-08-31 12:30] DastanSE opened #51 "How I can use InjectManifest?"
[code]

[2018-08-31 22:38] hanford commented on #51
simply pass in `generateSw: false` and all of your `workboxOpts` will be passed to injectManifest

https://github.com/hanford/next-offline/blob/master/index.js#L32

[2018-08-31 22:38] #51 closed

[2018-08-31 22:41] DastanSE commented on #51
Thanks!

[2018-09-03 09:38] joaovieira commented on #50
@Beelphegor I've opened a PR to fix that. Meanwhile, you don't need to load that `workbox-precaching` module as it's automatically included in the first (https://developers.google.com/web/tools/workbox/modules/workbox-sw#using_workbox_sw_via_cdn).

[2018-09-03 09:41] joaovieira commented on #50
Also, your `static` files are cached by default now - see https://github.com/hanford/next-offline/pull/44. So you don't need any custom `workboxOpts` anymore 🎉

[2018-09-03 21:55] aduyng commented on #32
did you run `npm run build` before running `node server`?

[2018-09-03 23:34] #50 closed

[2018-09-04 01:53] brad-decker opened #55 "express custom server + next-routes example? getting unsupported mime type"
i'm using next routes and express. next-routes creates a custom handler that up until installed next-offline i just used as an express middleware. When i attempt to do the following:

[code]

The error i receive in console is this;

[code]

I am using next 7 canary 11 right now, so this could just be an artifact of that. Thanks!

[2018-09-04 16:13] hanford commented on #55
@brad-decker I haven't used `next-routes` really so that could be the culprit. Also haven't looked at Next 7 much yet so that could also be a problem.

I think the mime type error is actually a 404. Can you provide a link where this is occurring?

does going to your `https://your-server.com/service-worker.js` result in a redirect or 404?

Could your try and get a repo with the bare code  to reprod

[2018-09-04 16:14] hanford commented on #23
https://github.com/zeit/next.js/pull/5089

should simplify!

[2018-09-09 19:19] DastanSE opened #56 "Cannot register service-worker"
We have recently moved our application to Next.js and are now having difficulties loading the service worker.
We were able to register the service worker using a simple example. However, as soon we started to add more pages and loading data from the server. We are not sure how to configure correctly next-offline workbox options. The service worker gives us the error;
[code]
Does anyone know which

[2018-09-10 16:06] hanford commented on #56
@DastanSE are you using `next export`? next-offline should work out of the box.

My [personal website](https://github.com/hanford/personal-website) and this [side project](https://github.com/hanford/trends) both use next-offline and it works on/offline.

[2018-09-11 15:44] hanford commented on #55
thanks @alexanbj!

Going to close this until we get some additional info @brad-decker, if you come back with some specifics I'd be happy to reopen!

[2018-09-11 15:44] #55 closed

[2018-09-12 19:43] DastanSE commented on #56
Thanks for the reply. I was able to register service-worker. But had a new issue my website start to reload infinite time. This is my server.js code.
[code]

if I remove
[code]

[2018-09-17 16:46] hanford commented on #35
Going to close this, looks like @joaovieira has adequately solved

[2018-09-17 16:46] #35 closed

[2018-09-17 17:23] gugiserman opened #57 "Quota exceeded errors and purgeOnQuotaError"
We're currently using `next-offline` for a very basic offline support with all default settings, but recently we have noticed a lot of "Quota Exceeded" errors in production.

I was taking a look at the `workbox` documentation and found this:
- https://developers.google.com/web/tools/workbox/guides/storage-quota

So, is there a way to set the value of `purgeOnQuotaError` on the expiration plugin? I

[2018-09-17 17:37] hanford commented on #57
Looks like `next-offline@2.12.0` was using `workbox@3.2.0` which was an older version, So I've just updated and published `next-offline@2.13.0` which ships with `workbox@3.5.0` so first ensure that you're on the newest version of `next-offline`

Finally it looks like you'd want your workboxOpts to look something like this:

[code]

[2018-09-18 23:09] gugiserman commented on #57
Hey, @hanford

This is happening:
- https://github.com/GoogleChrome/workbox/issues/1642

[2018-09-19 07:15] hanford commented on #57
@gugiserman I've subscribed too

[2018-09-21 20:16] #49 closed

[2018-09-21 20:16] #23 closed

[2018-09-21 20:16] #45 closed

[2018-09-24 09:48] joaovieira commented on #57
Given I updated all the packages in #59, that included `workbox@3.6.1` with the fix for this (https://github.com/GoogleChrome/workbox/releases/tag/v3.6.1). That's only for next 7 though. Do you want to cut a hot fix patch for the 2.x release?

[2018-09-24 16:00] hanford commented on #57
@joaovieira I'm pretty sure ^ just results in some console.error messages. I think we could probably just ask that users upgrade their next project and subsequently next-offline given there wasn't many breaking changes.

I don't feel too strongly either way. If someone asks for a 2.x patch I'd be okay doing it.

[2018-09-24 16:01] hanford commented on #57
@gugiserman have you upgraded to next 7 yet?

[2018-09-24 16:07] gugiserman commented on #57
@hanford Not yet, we're still on next 6 😞 We are upgrading sooner than later, but since we have more than one product running on nextjs, we will probably deal with nextjs 6 for a little longer.

[2018-09-24 16:37] hanford commented on #57
Just published a new version of 2.X with `workbox@3.6.1` so @gugiserman if you update to `2.13.2` and let me know if this issue is resolved, we can go ahead and close this!

[2018-09-25 00:05] hanford commented on #57
going to close, comment if it happens again and we can continue investigating

[2018-09-25 00:05] #57 closed

[2018-09-25 07:01] hanford commented on #56
Going to close for now. If you provide more info we can look deeper!

[2018-09-25 07:01] #56 closed

[2018-09-27 17:48] db-dblank opened #60 "Generating empty importScripts()"
My `next-offline` options:
[code]
\
Original `importScripts()` generated by `workbox-webpack-plugin`:
[code]
\
Final `importScripts()` generated by `next-offline` on version **`2.11.0`:**
[code]
\
Final `importScripts()` generated by `next-offline` on version **`2.12.0` and above**:
[code]
\
I believe that the problem started with https://github.com/hanford/next-offline/commit/8399e41d74a1ba235370

[2018-10-01 03:38] hanford commented on #60
Hmm @db-dblank I'll probably have some time in the next week to take a look. Will update this thread!

[2018-10-03 05:13] lasersox commented on #8
I was able to hack statically generated next.js pages into the service worker generated by the plugin, just by manually adding them to precache. I haven't figured out how to solve the routing problem. workbox.routing defines this 'registerNavigationRoute' but I wasn't able to get it working so far.

[2018-10-03 06:45] lasersox commented on #8
Oh! Actually, adding this solved my problem:

[code]

[2018-10-03 21:50] hanford commented on #8
ahhh, so adding that precaches the initial route? It might make sense for me to add that as a default.

Can you confirm @gerhardsletten?

thanks @lasersox !

[2018-10-03 22:00] lasersox commented on #8
I think the base route is always pre-cached, even with default settings. Eg, when I visit the root of my website without this setting, it works as intended. But if I try to reload any other path while offline, I would get an error.

This setting configures the service-worker to serve up the "/" route in the event of no network access. It's still not perfect—a refresh on `/mypage` will render the `

[2018-10-04 14:42] joaovieira commented on #60
Yeah, weird behaviour. But I got it - there's a bug in the new regex.

[2018-10-04 15:49] hanford commented on #60
@joaovieira no worries, I'm hoping to take a look this coming Monday as it's a holiday in the US.

While it's not ideal, AFAIK it's not breaking anything.

[2018-10-09 16:04] hanford commented on #60
Didn't have any time yesterday to look, will hopefully get some time this week.

If anyone is a regex champ, feel free to jump in! 🙇‍♂️

[2018-10-11 00:48] hanford opened #62 "Upgrade to Workbox v4"
Workbox 4.0 just came out which is exciting. I'd love to upgrade `next-offline` once stable drops.

https://github.com/GoogleChrome/workbox/releases/tag/v4.0.0-alpha.0

[2018-10-14 12:39] jasan-s opened #63 "This vs. workbox-webpack-plugin (question)"
This is a question, not an issue. I am unclear as to why I would use this lib instead of `workbox-webpack-plugin` which this seems to also use.  Is it an abstraction layer over it .

[2018-10-16 00:18] hanford commented on #63
it is @jasan-s, this plugin easily integrates with how the Next.js team recommends people compose their next.config's

you can see some examples [here](https://github.com/hanford/personal-website/blob/master/next.config.js) and [here](https://github.com/hanford/trends/blob/master/next.config.js)

Feel free to reopen or create a new issue with any questions you might have!

[2018-10-16 00:18] #63 closed

[2018-10-19 05:42] 1nullpointer opened #64 "Error with Next-offline hosted with Firebase Functions"
Am seeing following error when i try to use firebase functions with next-offline .

[code]

This is the starter am using

[Firebase Nextjs Starter Used](https://github.com/jthegedus/firebase-functions-next-example
)
**Changes done to the Starter Project :**

1. _Modified app.js as below_

[code]

**_2. This is my next.config.js file_**

[code]

**Question :**
1. How do i know if the service worker

[2018-10-19 13:08] 1nullpointer commented on #64
Thanks @hanford . That helped.
Fixed that and some other minor errors and it started working with firebase .

This is the final code :

**app.js :**
[code]

**2. next.config.js**

[code]

<img width="1011" alt="screen shot 2018-10-19 at 6 36 20 pm" src="https://user-images.githubusercontent.com/15132811/47220007-1d1d8e00-d3ce-11e8-85cc-af0233d8c315.png">

[2018-10-19 13:33] 1nullpointer commented on #64
It was all working fine , and now I see this error . Nothing changed .
Any particular reason ?

SW registration failed:  TypeError: Failed to register a ServiceWorker: A bad HTTP response code (404) was received when fetching the script.

[2018-10-19 15:33] hanford commented on #64
@1nullpointer service worker registration is automatically handled by `next-offline`.

Could you create a small repo where you can reproduce this problem so I can dig a little deeper? 🕵️‍♂️

[2018-10-19 16:18] hanford commented on #64
it might also be worth pointing out that service workers have some added security measures.

Take a look at the `Why is my service worker failing to register?` section:

https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers

[2018-10-21 10:29] 1nullpointer commented on #64
ok, the file path for the service-worker was the root cause.
Closing the issue

[2018-10-21 10:29] #64 closed

[2018-10-23 17:25] 1nullpointer opened #65 "Configure Next Bundle Analyzer Plugin"
Am trying to setup [Next Bundle Analyzer Plugin](https://github.com/zeit/next-plugins/tree/master/packages/next-bundle-analyzer)

Still trying to get it working,
can you please help confirm if this is the right way to add it in next.config.js
Thanks

How do we actually add multiple configs .Say, I want to add [next-css plugin](https://github.com/zeit/next-plugins/tree/master/packages/next-css)
mod

[2018-10-23 19:58] hanford commented on #65
@1nullpointer so the way most of these plugins should work is by extending the the `next.config` object.

so in the above case it something like this would work

[code]

Basically, each zeit plugin should take an object, extend it with its own functionality and returned the extended object allowing other plugins to do the same.

If you look at how `next-offline` works, you can see we simply take [

[2018-10-23 19:58] #65 closed

[2018-10-25 00:46] brothatru commented on #20
Hi, first let me start off by saying just installed your plugin and love it.

However, I'd also like to disable those workbox console.logs as well (they're polluting up my console).

Can you provide a simple example of how to do this?

Thanks!

[2018-10-25 16:18] hanford commented on #20
@brothatru `next-offline` shouldn't be generating a service workers during development. Can you go to `http://localhost:3000/service-worker.js` and share what you see?

It should look like this:
![image](https://user-images.githubusercontent.com/2148168/47514930-6474a600-d836-11e8-928d-203f3fb98e25.png)

Or are you talking about in a live environment?

[2018-10-25 18:16] brothatru commented on #20
This is happening for production build:

![screen shot 2018-10-25 at 11 12 44 am-min](https://user-images.githubusercontent.com/898744/47521201-42cfea80-d847-11e8-96a3-0fa4bdcb6023.png)

[2018-10-25 19:36] hanford commented on #20
@brothatru hmmm, there shouldnt be any logging in production builds.. can you share the script you’re using to build?

Also, is this an exported app or are you using a server?

[2018-10-31 17:31] orditeck commented on #60
Is there a temporary fix for this? Like something to set in the configs?

[2018-10-31 17:50] orditeck commented on #60
Opened a PR #66

[2018-10-31 18:01] orditeck commented on #60
So... the `importScripts` seems fixed, however, `precache-manifest.6c432c5028d94e1e1925117ba156149a.js` doesn't exist. For example, when doing `next build && next export`, there's no `precache-manifest.*.js` file in the `out` directory.

Am I missing something?

[2018-10-31 18:35] orditeck opened #67 "Doesn't work with next-manifest"
I don't know why, but using [next-manifest](https://github.com/ragingwind/next-manifest) with next-offline causes the latter to break. It doesn't register the worker anymore.

See https://github.com/ragingwind/next-manifest/issues/5

Anyone has an idea why those two are incompatible? I'd like to help.

[2018-10-31 18:42] orditeck opened #68 "precache-manifest not copied on next export"
[code]

[code]

Resulting in

[code]

[2018-10-31 19:39] hanford commented on #67
@orditeck can you share your next config?

[2018-10-31 19:45] hanford commented on #68
@orditeck we actually don't want to bring over the precache-manifest, we should be inlining everything into the service worker file.

When I run export on my [personal website](https://github.com/hanford/personal-website), it seems to be working.. (though I'm not using your most recent PR with the fix for the empty importScripts)

[2018-10-31 19:47] hanford commented on #68
from my website, this is the sw that is generated: https://gist.github.com/hanford/820889bd088a383bedff317b82f17f46

[2018-10-31 19:48] orditeck commented on #67
[code]

You may clone [from this commit](https://github.com/orditeck/nevek.co/tree/c26e5d5c950fcd1048f9d4e213ab4e9382d652c7) if you want to test.

For now I removed `next-manifest`.

[2018-10-31 19:51] orditeck commented on #68
In https://gist.github.com/hanford/820889bd088a383bedff317b82f17f46,
[code]

should not be empty (which is fixed by #66), it should be something like [this](https://github.com/orditeck/nevek.co/blob/727f701fe82cdb1a816b0ceec28ae8b19f4699e5/service-worker.js#L47).

Which would result to the same issue I have. So we should either not import the precache-manifest script or remove the inlined manifest

[2018-10-31 19:52] hanford commented on #67
Ahhh. could you actually try removing `next-compose-plugins`? That's broken some things in the past.

Can you let me know what happens when your next.config looks like this:

[code]

[2018-10-31 19:53] orditeck commented on #67
Will do tomorrow's evening. Will let you know, thanks!

[2018-10-31 19:56] hanford commented on #67
Keep me posted!

[2018-10-31 20:05] joaovieira commented on #60
We don't want to copy the generated manifest. It has wrong paths. We build a new one based on that and replace it with an inline version in the final SW. So, if you see a precache-manifest in your final SW, that's wrong :)

Your issue may be a separate thing. What is your next config?

[2018-10-31 20:08] joaovieira commented on #68
Sorry, I commented on the original thread: https://github.com/hanford/next-offline/issues/60#issuecomment-434828968

[2018-10-31 20:10] hanford commented on #67
@orditeck I confirmed removing next-compose-plugins does indeed fix the issue.

You can check out this repo here which should be working as intended:

https://github.com/hanford/next-offline-issue-67

I'll hopefully have some time this weekend to investigate next-compose-plugins and can probably find a fix, though for now I'd suggest removing it.

[2018-10-31 20:10] #67 closed

[2018-10-31 20:11] joaovieira commented on #68
Does the generated SW start with `self.__precacheManifest = ...`?

[2018-10-31 20:14] hanford opened #69 "next-offline is incompatible with next-compose-plugins"
This issue has been reported a few times on the old Zeit slack, along with in some other places like [this](https://github.com/hanford/next-offline/issues/67)

I'm fairly sure this problem a next-offline specific issue that we should either fix  or find a work around

[2018-10-31 20:37] hanford commented on #67
@Enalmada are you using next-compose-plugins?

[2018-10-31 20:47] Enalmada commented on #67
Not intentionally that I am aware of...

[2018-10-31 20:51] hanford commented on #67
ah, interesting.

Could you share your `next.config`?

[2018-10-31 21:06] Enalmada commented on #67
Sure, I will clean it up and post in a bit.

[2018-10-31 23:19] Enalmada commented on #67
@hanford Here is the next.config from my sample project: https://github.com/Enalmada/next-reason-boilerplate/blob/master/next.config.js

@joaovieira Take a look at how I am using "phase".  You might get slightly better performance if you don't load things in production you don't need.  I have no idea what the real impact is though.

[2018-10-31 23:46] orditeck commented on #68
@joaovieira I already linked my generated SW in my previous post above if you wan't to take a look.

[2018-11-01 00:01] joaovieira commented on #68
Sorry, my bad. Yeah, that looks like a good SW.

[2018-11-01 00:43] #60 closed

[2018-11-01 00:44] joaovieira commented on #62
Just tried it to see if they normalized their `importScripts` between generating and injecting. Still the same, but the good news is that v4 just works.

[2018-11-01 00:45] orditeck commented on #68
I'll test that v3.0.4 fix this in the next minutes.

[2018-11-01 00:46] hanford commented on #68
Thanks, let me know and I'll close if its fixed

[2018-11-01 00:48] orditeck commented on #68
It still produces an empty `importScripts();` which should ideally be removed when empty but it works.

[2018-11-01 00:48] #68 closed

[2018-11-01 00:53] hanford commented on #67
we can continue this conversation in #69

[2018-11-01 03:31] hanford commented on #62
Yep ;) I tried it out too!

Wonder when they plan on releasing it.. Was thinking maybe at/around this event https://developer.chrome.com/devsummit/

[2018-11-03 12:47] NathanielHill commented on #69
I was one of those original reporters, but FWIW I haven't had any problems since using `next-compose-plugins` phase feature to disable `next-offline` in development.

[2018-11-03 18:46] hanford commented on #69
@NathanielHill ahh, interesting. That'll be what I suggest until get to the bottom of it.

`next-offline` isn't really useful during development anyway ¯\_(ツ)_/¯

[2018-11-06 21:49] 4cm4k1 opened #72 "Workbox configuration options that are not needed?"
Hi! 👋

Thank you for this great package. I'm seeing this output and just wondering if there's anything to be concerned about (or would become a concern in the future):

[code]

Thanks!

[2018-11-07 03:47] hanford commented on #72
What are you using those for @4cm4k1?

We're following semver so the next breaking change will be a major version bump in this repo / on npm v(3 -> 4) .. and most package managers won't grab the new version unless you manually install the @latest version.

[2018-11-07 21:57] shawninder commented on #69
I'm having less luck with this problem myself. I made a repo dedicated to getting to the bottom of this, and although that repo reproduces the problem, the problem disappears when I reproduce it in test form. Anyone want to take a look and see if they can figure out what I'm doing wrong?

https://github.com/shawninder/next-manifest-sw-clash

[2018-11-08 16:50] hanford commented on #62
looks like the alpha has been tweaked a little bit and is now in beta!

https://github.com/GoogleChrome/workbox/releases/tag/v4.0.0-beta.0

[2018-11-08 16:58] hanford commented on #69
@shawninder I should be able to take a look either tonight or this weekend. Thanks for creating the repo!

[2018-11-08 16:59] hanford commented on #69
@NathanielHill can you share the snippet you have for disabling `next-offline` in `next-compose-plugins` during the development phase?

[2018-11-10 14:11] NathanielHill commented on #69
Here's an example `next.config.js`:

[code]

[2018-11-10 17:54] revskill10 opened #74 "Pass environment variables to service-worker.js ?"
What's the best way to pass environment variables to service-worker.js ?
I'm using web push notification, and it requires change to the dev env vs production env.

[2018-11-10 23:51] hanford commented on #72
@4cm4k1 ahh, just noticed we are adding those on our sides. I'll make sure to remove them either sometime this week or next!

[2018-11-10 23:54] 4cm4k1 commented on #72
Ah, great! Your first reply had me confused, and so I was trying to investigate if/how I was grabbing a different `workbox` version. Thanks for maintaining this package! Can't wait to see the improvements in v4, also!

[2018-11-11 00:03] hanford commented on #74
Not sure, but all of the configuration options can be found here:

https://developers.google.com/web/tools/workbox/guides/codelabs/webpack

You _may_ need to build your own service worker and transpile it and use workbox `swSrc`

[2018-11-11 00:04] hanford commented on #69
@shawninder those tests are super helpful, I've actually gone ahead and cleaned them up a big and added them to this repo under the `tests` folder! Thank you so much!

Whats kind of blowing my mind, is it seems that everything works fine when running locally

[code]

but not remotely (when deploying to now).

Running `yarn dev` is working as expected b/c both next-manifest and next-offline don't r

[2018-11-11 01:10] shawninder commented on #69
That version doesn't work for me locally either.

Just to rule out the obvious:
- Locally, your browser could be finding a service worker in it's application cache for localhost:3000, did you make sure to clear the site data when performing your manual test? (In Chrome: Dev tools, Application tab, Application->Clear Storage, [Clear site data] at the bottom)
- Do you have any environment variables

[2018-11-11 01:16] NathanielHill commented on #69
@hanford Just FYI: I'm running `greenkeeper.io` on several of my repositories... and I've gotten dozens of emails this evening with all of your package updates being published. Several of the patch fixes failed to build which causes even more inbox noise. Is there anyway that you could do more local testing before publishing patch versions? :v:

[2018-11-11 01:28] hanford commented on #69
@shawninder what's crazy is that adding `async` to the webpack function makes all tests pass, while when it isn't there the only 3/4 are passing for me.

However, when having `async webpack` the actual library breaks and prevents the SW from being registered at all.

[2018-11-11 02:17] shawninder commented on #69
My understanding of why `async` fixes the tests is the following:

If another plugin assigns an async function to `nextConfig.webpack` (as next-manifest does), then the Next.js build tools can know to await that function before marking the build process itself as being finished.

However, if your own plugin replaces `nextConfig.webpack` by a function which is not async and returns a plain object (

[2018-11-12 19:30] realtebo opened #75 "Please, provide a basic next.js + next-offline + express custom server basic example"
I'm starting from scratch and actually I have

[code]

/server.js
-

[code]

/next.config.js
-

[code]

/pages/index.js
-

[code]

/pages/about.js
-

[code]

scripts in package.json
-

[code]

After `npm run build`, I execute `npm start`.

Is this the right way to combine next, espress and next-offline?

What make me suspecting that something is wrong is that in production (`npm start`) , if I go

[2018-11-12 20:07] hanford commented on #75
I'm not sure I understand exactly what isn't working for you. I have two project using Next.js + next-offline + express that might help.

my personal website which is [here](https://jackhanford.com) and the code is [here](https://github.com/hanford/personal-website)

And trends, which the application is [here](https://trends.now.sh) and the you can see the code [here](https://github.com/hanford/tr

[2018-11-12 21:53] hanford opened #76 "async webpack function"
I've created [this repo](https://github.com/hanford/next-async-webpack-repro)

In the entry directory we have a `script.js` which we which we want to push into the applications code, and we do that with this block https://github.com/hanford/next-async-webpack-repro/blob/master/entry/plugin.js#L6 when webpack is an async function however, the console.log no longer appears.

That's why I had to reve

[2018-11-12 22:12] hanford commented on #69
I've created [this repo](https://github.com/hanford/next-async-webpack-repro)

In the entry directory we have a `script.js` which we which we want to push into the applications code, and we do that with this block https://github.com/hanford/next-async-webpack-repro/blob/master/entry/plugin.js#L6 when webpack is an async function however, the console.log no longer appears.

That's why I had to reve

[2018-11-12 22:13] #76 closed

[2018-11-13 16:36] hanford commented on #72
@joaovieira I think you added [these defaults](https://github.com/hanford/next-offline/blob/master/index.js#L25)

They should be safe to remove, right?

[2018-11-14 00:50] xcv58 opened #77 "Add workbox-range-request for video files"
Video can't play in iOS devices since.

We can add workbox-range-request plugin to solve the problem. I think it worth to add as default rules.

More details in: https://github.com/nuxt-community/pwa-module/issues/64#issuecomment-422324895

[2018-11-14 06:04] realtebo commented on #75
I tought it could be a problem in my config because when offline i cannot see the favicon; actually, seems it's a weel-know behaviour of chromium, and the problem will be limited to only the favicon;; so I'll go on ignoring the favicon offline.

I ask kindly a basic example of integration with express, and 2 lines of documentation to cover the common questions:

- [ ] how to pass options to workbo

[2018-11-14 17:00] hanford commented on #77
@xcv58 thanks for opening, otherwise i would have likely had to figure out what was going on if someone else asked about this issue.

However - I don't want to make assumptions about other peoples setups, so I'm sort of against adding more options on the `next-offline` user's behalf.

I'd love if you opened a PR or something and added a trouble shooting section to the README calling out that video

[2018-11-14 17:00] #77 closed

[2018-11-14 17:17] #72 closed

[2018-11-15 07:03] gauravdhiman commented on #75
To see service worker in action with automatic generation of `service-worker.js` on your localhost, do below things:
1. Configure your NextJS server to run in prod mode.
`const app = next({ dir: '.', dev: false });`

2. Build your NextJS app by running `npm run build`. In case your client code not in your app's top folder, then give name of client folder at the end of build command. Lets say the c

[2018-11-16 06:08] hanford opened #79 "Add history.md for release breakdowns"

[2018-11-16 06:08] #79 closed

[2018-11-16 12:00] eldyvoon opened #80 "[question] service worker break after allowed notification?"
I try to implement firebase could messaging with nextjs. For service worker I used next-offline.
repo: https://github.com/eldyvoon/nextjs-fcm-demo

It worked, I'm able to prompt the notification permission and get the token from firebase, but I'm seeing this error in the console
`Failed to register a ServiceWorker: An unknown error occurred when fetching the script.`

[2018-11-16 12:29] #80 closed

[2018-11-18 04:43] xcv58 opened #81 "How can unregister service worker?"
It seems the old service worker will be always there if we just remove the plugin for next.config.js.

Is there any instruction to unregister the existing service worker? Thanks.

[2018-11-18 19:07] hanford commented on #81
Not certain I understand what the issue you’re having is.

You can unregister a service worker using the service worker API: https://stackoverflow.com/questions/33704791/how-do-i-uninstall-a-service-worker

But I don’t manually do this in any of my projects. How come you need to unregister?

[2018-11-18 19:44] xcv58 commented on #81
Thanks, @hanford it's for this issue: https://github.com/hanford/next-offline/issues/77

Let me create a reproduce repo for broken video on iOS devices.

[2018-11-18 22:34] xcv58 commented on #81
Here is the reproduce repo: https://github.com/xcv58/next-offline-issue-77

To make the video work on iOS devices, it requires either adding `workbox-range-request` plugin or remove the service worker completely.

Also even without the video issue. Simply remove the offline plugin will lead to undesired behavior if someone already has the servicer worker installed.

Create react app provide a simp

[2018-11-19 00:44] hanford commented on #81
Good idea! Check out the PR #82 I've added the ability to control registration / unregistering in your own application. I'll probably merge it sometime tomorrow.

--

I'll look at the video when I get some more time.

[2018-11-19 03:51] xcv58 commented on #81
Great, thank you @hanford

[2018-11-19 04:40] xcv58 commented on #77
The fixed example: https://github.com/xcv58/next-offline-issue-77/pull/1/files

[2018-11-19 17:01] hanford commented on #81
@xcv58 runtime control is live in version `v3.2.0`!

[2018-11-19 23:13] #81 closed

[2018-11-19 23:14] xcv58 commented on #77
The video can't be served through service worker at all because:

https://github.com/GoogleChrome/workbox/issues/1663

[2018-11-20 19:25] qihong1983 opened #83 "404 servce-worker.js http 404"
Request URL: http://localhost:3000/service-worker.js
Referrer Policy: no-referrer-when-downgrade
Provisional headers are shown
Referer: http://localhost:3000/service-worker.js
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36

404 pages

next-config.js

const withOffline = require('next-offline')

// module.exports

[2018-11-20 19:31] hanford commented on #83
can you please help me reproduce the error?

Do you have a custom server that is serving the service worker? You can see what it should look like here: https://github.com/hanford/next-offline#usage

Here are some example projects that are successfully using next-offline:

my website: https://github.com/hanford/personal-website
side project: https://github.com/hanford/trends

[2018-11-20 20:33] qihong1983 commented on #83
cool
think you
i like this

[2018-11-20 20:34] #83 closed

[2018-11-21 06:33] rtm619 opened #84 "[issue] Improper url generated in precache manifest"
Hi,

I am using Next-Offline plugin with default configuration to generate a SW in my next app. I am using it with next-compose-plugins. But some of the urls in the precache manifest is coming up in a wrong format.

[code]
As you can see, the files inside the buildId folders are the only ones that are affected.
I feel like this is something related to the path module.

Any idea why its happening?

[2018-11-24 19:10] hanford commented on #75
@realtebo you can also take a look at how the tests work (we have a sample next.js application that we test against)

https://github.com/hanford/next-offline/tree/master/tests

Though you'll likely not want to include this part: https://github.com/hanford/next-offline/blob/master/tests/next.config.js#L28

Because we do have some code you can go off of, I'm going to close this issue. Feel free to o

[2018-11-24 19:10] #75 closed

[2018-11-24 19:11] hanford commented on #84
@rtm619 on holiday right now, should be able to take a look sometime early-ish this coming week

[2018-11-24 22:55] NathanielHill opened #85 "Turn off clean-webpack-plugin warnings"
During Next.js build, I get console warnings like:

`> clean-webpack-plugin: /usr/src/.next/precache-manifest.*.js has been removed.`

Since this is normal desired behavior, can we disable these messages since they give the impression that there is a problem?

[2018-11-25 13:43] MarkLyck opened #86 "/service-worker.js 404 request failed, when deployed to production"
I have read the documentation and the 3 other issues on here with a 404 issue and anything else I could find.

When I run `$ next build && NODE_ENV=production node server.js` everything gets served correctly on `localhost:3000`. No problems there.

However, as soon as I try to deploy my application to a production environment using now zeit I get an error:

A bad HTTP response code (404) was recei

[2018-11-26 09:27] huynv0302 opened #87 "SW registration failed next-offline"
help me!
error: SW registration failed:  TypeError: Failed to register a ServiceWorker: A bad HTTP response code (404) was received when fetching the script.

[2018-11-26 16:43] #85 closed

[2018-11-26 16:47] hanford commented on #87
can you please provide a link to your code? or a sample repo where this issue is happening?

I don't have enough information to take a look at this point

[2018-11-26 16:48] hanford commented on #85
live in `v3.2.2`

[2018-11-26 16:55] hanford commented on #86
@MarkLyck can you try removing `next-compose-plugins`?

next-offline has a lot of problems with it, and we're trying to figure out whats going on over here: https://github.com/hanford/next-offline/issues/69

Your next config should look something like this:

[code]

Please report back if this does or doesn't help!

[2018-11-26 19:30] hanford commented on #86
@MarkLyck can you share your package.json?

[2018-11-26 19:30] MarkLyck commented on #87
I believe this is the same problem I'm having in issue #86

[2018-11-26 19:31] MarkLyck commented on #86
@hanford

https://zeit.co/markl/formula-stocks/lruhnylguj/source?f=package.json

[2018-11-26 19:46] hanford commented on #86
hmmm, bootstrapping a new next project with a custom server and next-offline is working on my end

https://github.com/hanford/next-offline-issue-86

Can you use `create-next-app` and try to replicate your website as much as possible to reproduce the issue?

The only thing in your `package.json` is we would want to be certain `    "now-start": "next start",` is never used.

Otherwise next won't inv

[2018-11-27 06:43] eldyvoon opened #89 "[Question] disable cache using next-offline"
I've this in my next.config.js

https://github.com/zeit/next.js/blob/canary/examples/with-firebase-cloud-messaging/next.config.js

the point is just to create service-worker.js in .next, but by doing this I enabled caching which I don't really need, how can I disable that?

[2018-11-27 08:03] eldyvoon commented on #89
any clue why this config failed when I run `npm run build`?

const withOffline = require("next-offline");

const nextConfig = {
  workboxOpts: {
    generateSw: false,
    swSrc: "./next/service-worker.js"
  }
};

module.exports = withOffline(nextConfig);

[2018-11-27 16:40] hanford commented on #89
@eldyvoon ahh, i think it should be:

[code]

Those options are for `next-offline` everything in `workboxOpts` will get passed to workbox

[2018-11-27 16:44] hanford commented on #89
To disable caching you'd specify a specific runtime caching rule under workboxOpts.

[code]

where any request that matches urlPattern `/api/` will never be cached. urlPattern takes a regex so you should get fine grain control over any request.

You can read about some different handlers here: https://developers.google.com/web/tools/workbox/reference-docs/v2.1.2/module-workbox-runtime-caching

I t

[2018-11-27 16:44] #89 closed

[2018-11-28 01:20] eldyvoon commented on #89
there's no way to disable the cache entirely using a flag? I want to use next-offline for the sake of putting my sw into `.next` folder.

[2018-11-28 04:38] 4cm4k1 opened #90 "Usage with @now/next on Now 2.0"
# Question/Discussion

I'm fairly close to being done preparing my project to use `@now/next` on Zeit's Now 2.0, instead of a Dockerized custom server on Now 1.0. But some issues remain.

1. One issue is, as we know, although `next-offline` outputs `service-worker.js` to `.next`, a custom server is required to serve the file. Also, while the `@now/next` builder does output `service-worker.js` to `

[2018-11-28 04:40] 4cm4k1 commented on #90
One easy route to making it work would be to use `@now/static-build` with `next export`, but the downside would be losing the ability to have runtime `getInitialProps`.

[2018-11-28 11:15] Huaoe commented on #84
see my pull request to as fix https://github.com/hanford/next-offline/pull/91

[2018-11-28 16:59] hanford commented on #90
@4cm4k1 I've talked a little bit with Tim who is one of the maintainers of Next.js. He mentioned they'll be rolling out some things that we'll be able to use to make sure `next-offline` works with Zeit's Now 2.0

Specifically allowing plugins to hook into the new next build mode (`next build --lambdas`)

I'm currently working on migrating one of my other [personal projects](https://github.com/hanf

[2018-11-28 18:54] MarkLyck commented on #86
@hanford ahh you are right. `now-start` was being run in production mode. It's solved now.

(it works fine for me with the compose-plugins by the way)

Thanks for the help!

[2018-11-28 18:54] #86 closed

[2018-11-28 19:45] hanford commented on #89
I'd suggest doing this: https://github.com/webpack-contrib/copy-webpack-plugin

It doesn't make sense for next-offline to _not_ cache files, that's the point of the plugin!

[2018-11-29 17:51] hanford commented on #69
@NathanielHill is this still an issue for you? @MarkLyck said it's working for him, and it appears to be working okay for me in the test suite

https://github.com/hanford/next-offline/tree/master/tests

[2018-11-29 18:26] #87 closed, assigned to nobody

[2018-11-29 18:34] hanford commented on #69
that would be great @NathanielHill

During development `next-offline` is basically a noop and only registers this:https://github.com/hanford/next-offline/blob/master/service-worker.js

Let me know if you run into anything though!

[2018-11-30 12:48] Huaoe commented on #84
// next.config.js
const fetch = require('isomorphic-unfetch')
const withPlugins = require('next-compose-plugins');

const withOffline = require('next-offline')

const optimizedImages = require('next-optimized-images')

const { ANALYZE } = process.env

module.exports = withPlugins(
    [
        [optimizedImages, {
            /* config for next-optimized-images */
        }],

        [withOffline

[2018-11-30 19:57] hanford commented on #90
I was able to get next-offline working without any changes on Now 2.0!

I'm planning on doing a pretty big overhaul of the next-offline documentation in the next week or so where I can go into the differences I've noticed between Now 1.0 and 2.0 and the different things to be aware of.

If you'd like to start using it before then, you can check out this project: https://github.com/hanford/trends/p

[2018-11-30 20:54] 4cm4k1 commented on #90
Awesome news! Do you have assets in `www/static/` though for your Trends project? If there are some, they're still not getting to the `sw.js`: https://trends.now.sh/_next/static/sw.js

[2018-11-30 21:00] 4cm4k1 commented on #90
Also, I wanted my static assets to load from the root (because `keybase.txt` requires it, and I wanted to preserve the same link for my résumé file), so I put this in `routes` in `now.json`:
[code]
Couldn't one apply the same technique to load `sw.js` from root and stick with autoregistering it?

[2018-11-30 21:17] hanford commented on #90
1). Ahh didn't notice that! The trends project doesn't really have assets, but it does have a lot of favicons and such that should probably be in the SW 🙇‍♂️ which presents an interesting dilemma because i don't think `@now/static` stuff goes through webpack meaning next-offline wouldn't never know (at compile time) about them. However - Workbox should correctly cache and handle @ runtime

2). I t

[2018-12-02 15:43] petertenhoor opened #93 "Render a custom "offline page" when page is not yet in SW cache"
Hi there,

First of all; thanks for making this great next.js extension. It works like a charm. My service worker is registering, caching assets + pages and makes my project work offline.

This is great, unless a visitor has not yet visited the page before when he/she had an active internet connection. Then the default browser offline page is shown. That's why I was wondering; how would your workb

[2018-12-02 21:51] NathanielHill commented on #69
@hanford, I can confirm that the noop `service-worker.js` is built and dropped into `.next/`. However, this is a regression for me as I get a `404` and and SW registration failure in the console where before there was nothing (disable entirely during dev).

Perhaps it needs to be put in the build manifest or some such to be properly served in dev mode at `/service-worker.js`

[2018-12-03 17:02] hanford commented on #93
@petertenhoor `next-offline` currently is just for the caching and offline mode of an application, I haven't added anything that you're requesting though it should be pretty easy to add on your own!

I'd suggest looking into this API that can let your application code know the state of your users connection.

[online status api](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/Onli

[2018-12-03 17:02] #93 closed

[2018-12-03 17:04] hanford commented on #69
ahh you know what @NathanielHill I don't think our dev service worker gets the same exact treatment as the service worker that we end up building for production.

Let's keep this open until I resolve that.

(it's probably pretty trivial, but it's lower priority than the documentation rewrite I'm working on for now 1.0 and now 2.0)

Thanks again for double checking - should be resolved soon

[2018-12-05 07:54] gauravdhiman opened #94 "File with name as given in swDest not created in case of custom service-worker"
I am trying to have custom service-worker in my Next app to have web push capability. What I am observing is with below `next.config.js`

[code]
the `service-worker.js` does not get created in `.next` (build) folder. As per [this](https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin#full_injectmanifest_config) `swDest` is defaulted to `service-worker.js` and should have b

[2018-12-06 16:32] hanford commented on #94
can you create a small repo where this issue is reproducible? That will help me dig a little deeper.

Thanks!

[2018-12-06 19:55] NathanielHill commented on #69
Sounds good. It looks like the noop `service-worker.js` file gets placed in `.next/` and `.next/server`, but it's not added to any of the manifests. Looking forward to a fix on this, will be able to remove several lines of boilerplate from `next.config.js` across many projects. :+1:

[2018-12-06 21:02] PatrickSachs commented on #94
I'm having an error that is probably related to the same cause. This config:

[code]
Throws this error `(node:2881) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, open '/home/patrick/Development/helios/git/src/home/patrick/Development/helios/git/.build/home/patrick/Development/helios/git/.build/sw/service-worker.js'`.

This is caused by https://github.com/PatrickSachs/

[2018-12-07 17:00] hanford commented on #94
@PatrickSachs we could probably have some code around this use case with a warning or something.

I'd be happy to merge a PR ¯\_(ツ)_/¯

[2018-12-07 17:15] gauravdhiman commented on #94
@hanford I will soon share a test repo where to reproduce this issue.
For now, I resolved the issue by auto-generating the service-worker and then injecting the web-push specific code in it using `importScript()` as mentioned in [this](https://github.com/hanford/next-offline/issues/35) .. that is working fine.

[2018-12-08 20:46] PatrickSachs opened #97 "Automatically serve workbox files for importWorkboxFrom: "local""
The application I am currently writing must be able to run on a fully isolated intranet without physical access to the internet or data flowing through CDNs.

For this reason I am using the workbox option `importWorkboxFrom: "local"`. This generates a `workbox-v3.6.3` folder in my `.next` folder with all required workbox JS files it in.

However when then opening the webapp a request to `https://e

[2018-12-09 21:34] PatrickSachs opened #98 "ValidationError: "runtimeCaching" is not a supported parameter."
If I use the "runtimeCaching" option under "workboxOpts" I am unable to build my project.

**- Issue and steps to reproduce.**

The following config

[code]

**- Versions.**

3.2.2

**- Screenshots.** (Log in this case)

[code]

**- Expected.**

Compile since this option is used in the example and default options.

**- Actual.**

Throws an error during build, rendering me unable to use this option

[2018-12-09 22:41] hanford commented on #98
Would be great if you could create a repo where we can reproduce this error as it's working on my end 🙇‍♂️

[2018-12-09 23:56] hanford commented on #94
@PatrickSachs can we close this now that #96 is merged?

[2018-12-10 02:39] 4cm4k1 commented on #90
Given we've found a solution and you added an example and documentation for Now 2.0, I'll close this issue. Thanks again!

[2018-12-10 02:39] #90 closed

[2018-12-10 20:39] PatrickSachs commented on #94
I'm not sure if my PR fixed this issue, it was just related to it. But if @gauravdhiman is happy with his solution I see no issue with closing this.

[2018-12-10 20:39] PatrickSachs commented on #98
I'll look into it as soon as possible. Thank you very much for you time.

[2018-12-11 00:04] hanford commented on #98
Damn, sorry to hear that!

[2018-12-11 08:33] HofmannZ opened #99 "[QUESTION] Changelog"
Is there anywhere I can find a changelog fro this project

[2018-12-11 17:10] hanford commented on #99
@HofmannZ currently don't have one. Great idea though, I'll add one today though it'll be starting at the current version.

[2018-12-11 17:11] hanford commented on #99
Do you know of a good template or anything I can go off of?

[2018-12-11 18:59] #99 closed

[2018-12-13 17:31] PatrickSachs opened #101 "Static files have invalid links in manifest"
Related: #44 - Although phrased similar, I don't think this is related to #84

I'm a bit sorry for opening so many tickets/PRs within a short timeframe, but I really appreciate your effort and time put into this small library.

- **Issue and steps to reproduce.**

Currently all assets always always prefixed with `/_next/`. This works well for "normal" next.js files, but not for static assets that

[2018-12-16 07:01] revskill10 opened #102 "Precache-manifest, how to generate and route ?"
When i build with `next build`, i could see `precache-manifest....js` generated at `.next/` folder.
But when built on Now 2, i don't see it got generated anywhere.

Secondly, current Now 2 example doesn't have any route to `precache-manifest...js`, i don't know how to route to that file, one reason is because i don't see it got generated on Now 2.

[2018-12-16 13:07] PatrickSachs commented on #101
Hey, I didn't have the time yesterday, but here you go - https://github.com/PatrickSachs/next-offline-example

Thanks for the time. My issue seems to be related(again!) to not using `generateSw: true`, which then uses the InjectManifest mode in the background.

According to a comment in the workbox repository this mode is the one that should be used if you just want to have the manifest generated

[2018-12-17 16:51] hanford commented on #102
@revskill10 ingnore that generated file, the one you should be paying attention to is `service-worker.js` (we use precache manifest from a different plugin, and then generate what we need into the service worker)

For how to get stuff set up on Now 2.0, I'd look at the [documentation](https://github.com/hanford/next-offline#now-20) and the [example now 2.0 app](https://github.com/hanford/next-offl

[2018-12-17 16:51] #102 closed

[2018-12-20 10:26] dandrei opened #103 "Serving the ServiceWorker"
Hey everyone,

I'm trying to add offline support to my Next.js app. I did the following so far:

1. Installed `next-offline`
2. Wrapped the config in `next.config.js` (`module.exports = withOffline(__config__`);
3. Added the following to the config in `next.config.js`:
[code]
4. Ran `yarn dev`.

Here I ran into a bit of trouble. I get:

Looks like the script is trying to fetch the SW from `/servic

[2018-12-20 18:11] jonesjaycob commented on #103
I have the same problem. Any help would be great!

[2018-12-20 20:36] derekdowling commented on #97
You can have Workbox put the non-sw files it generates in a specific folder via `importsDirectory`. I would recommend putting it into your static folder:
[code]
Which I believe should solve this problem?

[2018-12-20 20:49] hanford commented on #103
@PatrickSachs can you maybe clarify how you're using the `generateInDevMode` flag?

[2018-12-20 20:59] PatrickSachs commented on #103
@dandrei Which setting are you using for `importWorkboxFrom`? If it is `local` see #97 - I haven't tried to proposed option yet but my workarounds works aswell.

@hanford By default a stub file is used as device worker if `dev: true` is set. The generateInDevMode flag compiles the service worker as normal. I don't recommend setting this flag unless you are aware of how(and when!) service workers a

[2018-12-20 21:31] dandrei commented on #103
I didn't have it set before. I set the two variables to the values suggested in #97, but now I have another issue, the client compilation gets stuck at 95%:

Here's the relevant part of the config (not sure about the items in `runtimeCaching`):

[code]

[2018-12-20 21:40] PatrickSachs commented on #103
Validation errors are hidden in development mode. If you run your build script you'll see the error:

[code]

[2018-12-20 21:52] dandrei commented on #103
You're right. I copied that config from the web. That particular parameter must have gotten deprecated and removed from Workbox at some point.

Now I'm running with a minimum configuration:

[code]

I get

The stacktrace points to this line
[code]
in `function getOriginalManifest(manifestFilePath)` (`next-manifest.js`).

[2018-12-20 23:36] hanford commented on #103
@dandrei ahh, we should be using `idk` or something there or not invoke that function when we don't have files, I can probably get a fix for that specific problem in.. just on holiday right now 🎄

[2018-12-21 19:36] hanford commented on #69
@NathanielHill with `next-compose-plugins` are you invoking `withOffline` or are you relying on `next-compose-plugins`?

When my next.config.js looks like this https://gist.github.com/hanford/5375852981aa3db89abfdc7af46cacfe things work normal.

Might be helpful if you could create a little repo where this issue is happening so i can pull it down and try to fix the use case.

Really appreciate the

[2018-12-28 08:27] ValentinGurkov opened #104 "Serving sitemap.xml and robots.txt files"
Hello everyone,

I'm trying to learn how to serve my app offline and this plugin is really helpful, though I'm having trouble configuring the service worker to also serve my sitemap. Currently in tries to get the sitemap from `/pages/sitemap.xml.js` and robots `/pages/robots.txt.js` but it is available in `/sitemap.xml` and `/robots.txt` like in any other site.

My server generates a sitemap on a

[2018-12-28 15:05] hanford commented on #104
@ValentinGurkov This is a good idea! I'm currently on holiday and can take a deeper look afterwards. Should be back ~first weekend in January.

PR's are welcome if you can get something working by modifying `next-offline`!

[2018-12-28 18:30] NathanielHill commented on #69
I'm not invoking it, just passing to `next-compose-plugins`, perhaps that's my problem?

This is a typical setup for me:

https://gist.github.com/NathanielHill/f433b993e5ce0bee4d34e1573be36e29

[2018-12-28 18:30] NathanielHill commented on #69
Appreciate you working on this @hanford :ok_hand:

[2018-12-30 05:58] hanford commented on #69
I can create a next app with the above config and try to get things working — currently on holiday so I’ll try to report back in a week or so.

Happy New Years!

[2018-12-31 04:41] hanford commented on #69
In the meantime @NathanielHil could you try invoking the next offline plugin when you pass it to compose .. similar to how I do it In the above test app? .. I’ve seen some other plugins require this too, not certain how/when next compose plugins invokes these 😅

[2018-12-31 08:42] k-prashant commented on #101
I don't know if my issue is related to this, so instead of opening new one, adding it here.

`
// next.config.js

dontAutoRegisterSw: true,
generateSw: false,
generateInDevMode: true,

workboxOpts: {

  swSrc: './custom-sw.js',
  swDest: 'custom-sw.js',

  importWorkboxFrom: "disabled",
  globDirectory: '.next',
  globPatterns: [
    '../static/**/*',
  ],
}
`
I have set generateSw as false to use

[2018-12-31 22:08] madiodio opened #105 "vfvf f f vvfvgbybtg yy"
# 🎉 Thanks for taking the time to contribute to next-offline!

It is highly appreciated that you take the time to help improve next-offline.
We appreciate it if you would take the time to write up a bug report or feature request.

Sadly, if we don't receive enough information, or the issue/feature request doesn't
align well with our roadmap, we might respectfull thank you for your time, and close

[2018-12-31 22:08] madiodio opened #106 "vfvf f f vvfvgbybtg yy"
# 🎉 Thanks for taking the time to contribute to next-offline!

It is highly appreciated that you take the time to help improve next-offline.
We appreciate it if you would take the time to write up a bug report or feature request.

Sadly, if we don't receive enough information, or the issue/feature request doesn't
align well with our roadmap, we might respectfull thank you for your time, and close

[2018-12-31 22:13] #106 closed

[2018-12-31 22:16] madiodio commented on #106
Sorry

[2018-12-31 22:41] lonelydatum opened #107 "Not working when I deploy"
Hello,

Thanks for the great library. I was able to get a simple create-next-app working and deployed with now.

I used your **server.js** from here:
https://github.com/hanford/next-offline/blob/master/tests/server.js

**next.config.js**
const withOffline = require('next-offline')
module.exports = withOffline()

I took the the code from server.js and next.config.js to my real project.
When I npm r

[2018-12-31 23:11] #105 closed

[2018-12-31 23:11] madiodio commented on #105
Sorry

[2019-01-01 03:11] hanford commented on #107
Any idea if it’s a now 1.0 or now 2.0 deployment? The two work pretty differently and thus require some different configurations.

If you post the code in a repo, I’d be happy to dig deeper

[2019-01-01 04:57] lonelydatum commented on #107
I'm using now 1.0
I've stripped down my app to just the landing page so it's not so overwhelming. The repo is here:
https://github.com/lonelydatum/prequilt_offline

I've also deployed version here:
https://prequilt-offline.now.sh

Any help would mean a lot to me. Thanks so much!

[2019-01-01 12:03] hanford commented on #107
@lonelydatum it actually is working offline, you usually need to go to the deployment once, so the SW can register and then when subsequent visits would work offline.

You can tell by going to `https://prequilt-offline.now.sh/` opening the console, disabling a network connection and reloading.

Going to go ahead and close this because i think things are working as intended.

[2019-01-01 12:03] #107 closed

[2019-01-01 14:37] lonelydatum commented on #107
@hanford I disabled the network but it doesn't work. I've made a screen recording to show you.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/858774/50573803-aa0a9d80-0da8-11e9-84d4-d249ba897f12.gif)

Does it work for you?

[2019-01-01 19:27] Tevinthuku opened #108 "Service worker only works when online"
My service worker only works when the device is online, Im still on now v1, so Im using the old configuration https://github.com/hanford/next-offline#now-10

Heres my  server
[code]

and my next.config.js

[code]

Here's how things looks like when online

![sw issue 1](https://user-images.githubusercontent.com/12128153/50575680-b415b600-0e13-11e9-92cb-4acc3382add9.png)

and assets even load as exp

[2019-01-03 03:15] hanford commented on #107
@lonelydatum it looks like you’re testing when the service worker itself isn’t “online”. I think this is different than network status.

To test you, can disable your network connection and you’ll see your website still works while offline

[2019-01-03 03:30] hanford commented on #103
@dandrei could you share a repository where this issue is easy to reproduce? It would help me debug this issue much faster, thanks!

[2019-01-03 07:24] #108 closed, assigned to nobody

[2019-01-03 18:10] lonelydatum commented on #107
Oh man, so embarrassing.
Wow. I turned off my wifi and it works.

[2019-01-03 22:31] hanford commented on #107
@lonelydatum no worries! Open another issue if you run into anything else

[2019-01-05 12:30] xMokAx opened #109 "Default serviceWorker scope is "", it should be "/" as mentioned in documentation"
Hello,
Thanks for the library.
I'm using next-offline on my project and i noticed that the service worker is registered again for every page (different urls), So i checked the code generated to register the service worker and it was like this:
[code]
As you can see the scope is an empty string not the default "/" as mentioned in documentation, So i checked index.js and i found that the scope defau

[2019-01-06 08:41] #109 closed

[2019-01-06 08:41] xMokAx commented on #109
Thanks for the fast fix.

[2019-01-09 17:43] derekdowling opened #112 "generateNextManifest in "afterEmit" hook"
**TL:DR;**
Is it possible to adjust the `InlineNextPrecacheManifestPlugin` plugin to execute `generateNextManifest` during an earlier Webpack phase such as `afterEmit` rather than as part of the `done` phase as seen here: https://github.com/hanford/next-offline/blob/master/plugin.js#L14-L24? Waiting until that phase makes the output of `withOffline` incompatible with other build cleanup Webpack pl

[2019-01-10 07:31] nisargrthakkar opened #113 "Give error in IE11"
Hi Team

I had integrated next-offline for PWA before integrated next-offline my site perfectly working fine with IE11 with polyfills and next-offline give me following error while working with IE11.

![next-offline](https://user-images.githubusercontent.com/26029722/50952882-c65cb780-14d7-11e9-95fe-439e8d707f89.png)
![next-offline1](https://user-images.githubusercontent.com/26029722/50952884-c65c

[2019-01-10 16:55] hanford commented on #113
@nisargrthakkar any idea what specific line is throwing the error? Could it be the arrow function?

I'd be happy to have compatibility if it's not too hard

[2019-01-11 06:17] nisargrthakkar commented on #113
Yes, it is arrow function I guess. I shared a screenshot of the error

 `navigator.serviceWorker.ready.then(registration => {`  Gives error.

![next-offline 2](https://user-images.githubusercontent.com/26029722/51016491-8c061f80-1596-11e9-8cb2-1d07e109e0f1.png)

[2019-01-11 17:51] hanford commented on #113
I've removed the arrow function in favor of the `function` keyword and next-offline version `3.3.3` includes the fix.

Feel free to open another issue if you run into something else!

[2019-01-12 01:03] hanford commented on #112
Hm. This isn't really a use case I've had to support or work through on my own, so I'm not 100% certain what the fix would be.

we could definitely add an option to make next-offline execute at different phases of webpack though.

If you'd like to contribute maybe add a flag a line in the PR and open a PR. Otherwise I can do it, but will hold off until you get back to me

[2019-01-16 07:00] nisargrthakkar commented on #113
Thank you @hanford for your update.

I updated next-offline to 3.3.3 to version that fixed issue that I have previously shared but Now I got the following issue in register function

Console :
![next-offline 3](https://user-images.githubusercontent.com/26029722/51231678-51332b80-198a-11e9-8d9b-e9897e37ad2f.png)

File Line :
![next-offline 4](https://user-images.githubusercontent.com/26029722/51231

[2019-01-16 16:44] seejamescode opened #114 "Now 2 Config Question"
Hey @hanford, thanks a bunch for this plugin! We are using it over at https://github.com/pingboard/next-pwa-boilerplate/ because it is so easy. I am currently updating that boilerplate to use Now 2.

I was just hoping you had a minute to explain the [next.config.js](https://github.com/hanford/next-offline/blob/master/examples/now2/next.config.js) in your Now 2 example. Is checking that the module

[2019-01-16 21:30] hanford commented on #114
@seejamescode yeah, not 100% certain if that is required anymore. At one point during the deployment, Now 2.0 wouldn't find the dependency and it would fail. Super strange.. but potentially it's been fixed? I wrote the Now 2.0 within days of Now 2.0 announcement, so it was very early.

If you can confirm that's no longer needed, I'd be very happy to update the example.

I am doing it in all of my

[2019-01-17 17:40] hanford commented on #113
@nisargrthakkar ahh, looks like it doesn't like the default argument, I'll post a fix with an ES5 alternative.

[2019-01-17 17:41] hanford commented on #113
Can you try version `3.3.4`? just released it with the fix

[2019-01-17 21:03] jakemmarsh opened #115 "Both GenerateSW and InjectManifest run forever on dev compile, crash on build"
I'm on next.js `7.0.2`, next-offline `3.3.4`, and webpack `4.21.0`.

I'm using this plugin alongside various others via `next-compose-plugins`. The relevant portion of my `next.config.js` looks something like this:

[code]

When running my app in dev, `GenerateSW` (or `InjectManifest` if I change the config to use that) both run forever and so my client compilation is stuck at 95% until I stop the

[2019-01-18 13:32] nisargrthakkar commented on #113
Hi @hanford

Thank you for your quick response

I tried with 3.3.4 version but I got following error

![next-offline 5](https://user-images.githubusercontent.com/26029722/51389807-7f179c00-1b53-11e9-8964-4259666257cf.png)
![next-offline 6](https://user-images.githubusercontent.com/26029722/51389808-7f179c00-1b53-11e9-811d-4e7e0eba2566.png)

[2019-01-18 16:43] hanford commented on #113
@nisargrthakkar that should be fixed by this commit: https://github.com/hanford/next-offline/commit/fb7e385aa43352c4d9bf787d259b4d17c62cb922

released another patch, `v3.3.5`

[2019-01-18 16:44] hanford commented on #115
Hmmm, I actually haven't really used `generateInDevMode` much. A contributor added that flag .. 🤔 Could you try a deploy without it?

Could you share more about your project? Perhaps a repo where this issue is reproducible? That would help me dive a little deeper

[2019-01-18 17:17] seejamescode commented on #114
Thanks for you help!

[2019-01-21 09:03] nisargrthakkar commented on #113
Hi @hanford

It is working perfectly. Thank you for your quick updates.

[2019-01-21 09:03] #113 closed

[2019-01-22 00:21] hanford commented on #97
Going to close this, I think @derekdowling's answer is adequate

[2019-01-22 00:21] #97 closed

[2019-01-22 00:39] hanford commented on #84
is this still happening? We might be doing something messed up in windows environments with paths but I don't have access to a windows machine so I can't really debug.

Would love a PR with a fix if it is happening

[2019-01-24 15:35] pkellner opened #116 "Question? (sorry for posting as issue :( )"
You did say in your article questions, feel free to post here.

I've got next-offline working with now1 and am confused on where I need to go to add REST GET call offline support. That is, when the app first loads I want it to store some static json files, and then if it goes offline, I want it to use those (and occassionally refresh). I gather I need to somehow updated my service-worker.js file w

[2019-01-24 18:49] hanford commented on #116
@pkellner so that is where [workbox](https://developers.google.com/web/tools/workbox/) comes in, basically you can pass in various different options through next-offline that will help configure workbox, which is what next-offline uses under the hood.

Workbox will automatically record network requests and store them in IndexDB on the frontend, if the request can't be fulfilled (no network) it wil

[2019-01-24 18:49] #116 closed

[2019-01-24 23:47] pkellner commented on #116
Thanks so much.

[2019-01-31 13:59] NathanielHill opened #117 "Now Build Warnings?"
Don't know if this is related, but opening this issue for visibility/diagnosis...

I'm getting the following warning in my Now 2.0 logs:

[code]

`next-offline` is the only thing explicitly using WorkBox in my project...
Any ideas?

[2019-02-01 17:34] hanford commented on #117
@NathanielHill ahh I thought this was fixed. Just double checking you're on latest `v3.3.5`

It's a warning, we basically are using some field that they are trying to deprecate .. but IIRC we're getting functionality from having those fields there..

If you're in fact on the latest, let me know and I'll try modifying some projects removing `globDirectory` and `globPattern` and if functionality is

[2019-02-02 00:43] NathanielHill commented on #117
Yup, I'm on `v3.3.5`. If the options are necessary, perhaps there's a way to silence the warnings?

[2019-02-04 07:06] himadrinath opened #118 "failing dev tools audits progressive wep app"
@hanford  i don't understand what am i missing in this if i test it in my local env its successful but when i deployed it and test it its getting failed.
service worker registering cache working. but when i test it i am getting this result.

<img width="1080" alt="screenshot 2019-02-04 at 12 21 20 pm" src="https://user-images.githubusercontent.com/12247490/52194190-d7031200-2878-11e9-81ea-c9b21c4e

[2019-02-04 17:42] himadrinath commented on #118
@hanford here is the link [url](https://inpage.azurewebsites.net/HimadriNath)

i fixed some of this but their is another thing after page load if i refresh the page its go to the 'navigateFallback' url i don't understand why

here is my next.config.js

`const withOffline = require("next-offline");
const withCSS = require("@zeit/next-css");
// fix: prevents error when .css files are required by nod

[2019-02-06 00:18] hanford commented on #118
@himadrinath because you're not serving the website from the root, you need to specify a `scope` for your service worker. You can check out the next-offline options that are available here: https://github.com/hanford/next-offline#next-offline-options

But I'm going to go ahead and close this because it doesn't seem to be an issue with the library itself

[2019-02-06 00:18] #118 closed

[2019-02-07 16:55] hanford commented on #117
Been swamped at work this week, sorry for going dark!

[2019-02-07 17:28] hanford commented on #62
Workbox 4 RC.0 was released yesterday!

https://twitter.com/workboxjs/status/1093316874933161984

[2019-02-07 17:29] hanford commented on #117
This might get addressed once Workbox 4.0 comes out https://github.com/hanford/next-offline/issues/62

I quickly glanced at the 3.0.0 API and couldn't find away to silence warnings 🤔

[2019-02-12 21:55] NathanielHill commented on #117
FYI @hanford This now occurs on the command line as well:

[code]

[2019-02-16 07:09] theallseingeye opened #119 "service-worker.js:1 Uncaught (in promise) DOMException"
I get a lot of these errors since activating next-offline on my app, is this normal? It normally only happens after a page refresh

[code]

I also get a lot of notices about this:

[code]

I assume this is from using `<Link prefetch>` is this normal, or should I be tweaking how I handle this with next-offline

[2019-02-16 07:47] theallseingeye commented on #119
My serviceworker cache is using about 600mb, is this normal?

[2019-02-18 01:24] hanford commented on #119
@theallseingeye I think your `Link` warnings are unrelated to next-offline but not totally certain.

As for the cache, that is high .. but I don't think it's totally out of the ordinary. If you want, workbox gives you pretty fine grain control over what is/isn't cached and by default next-offline will cache as much as possible.

You can tweak this by passing in your own cache rules like [this](htt

[2019-02-18 01:25] hanford commented on #117
👍 - still planning on punting until workbox 4! Been very busy lately

[2019-02-18 11:27] theallseingeye commented on #119
Do you have some suggestions on how to debug this? My app seems to load up fine, I get 15mb service cache. But it seems after a few days it suddenly hits 1.3GB

My .next folder is only 65mb, any other ideas? I tried looking into chrome dev tools but even when I clear all the caches it still says my sw cache is 1.3GB

[2019-02-18 12:43] theallseingeye commented on #119
Also I get a lot of this:

[code]

I think this is related to the service-worker?

[2019-02-19 02:47] ivanarielcaceres opened #120 "Internal server Error when refreshing the page when offline"
Hi there,
I've been having some difficulty getting the plugin to work well in a project.
I would greatly appreciate a support from you

**Expected Behavior**

When refreshing the page while offline it should work even if it has not been previously refreshed when connected to the internet.

**Current Behavior**
By navigating to a page that was not previously refreshed while online. When switching t

[2019-02-19 16:53] hanford commented on #119
@theallseingeye it could be workbox just aggressively caching things, I've read on their documentation that they will often hit the upper limits for browser cacheing which is what is causing

[code]

Keep in mind workbox is caching all API calls that occur along with all assets, so if you're transmitting lots of data a lot of that will end up in the cache too.

We're currently using workbox 3.6.3,

[2019-02-19 16:53] #119 closed

[2019-02-21 04:45] hanford commented on #120
Hopefully will have some time to take a look this weekend, been very busy at work lately!

[2019-02-26 16:10] raymondsze opened #121 "webpackHotUpdate is not defined"
Reference: https://github.com/zeit/next.js/issues/6168

I use next-offline with nextJs v7.0.2. After start my application in dev mode, there is `Uncaught ReferenceError: webpackHotUpdate is not defined` logged in console.

[2019-02-27 16:22] williamli opened #122 "[Question] Using with Full CDN on Now v2"
According to the Full CDN instructions at https://zeit.co/docs/v2/deployments/concepts/cdn-and-global-distribution/

I should, set cache-control for the next site using

`Cache-Control: s-maxage=31536000, maxage=0`

Does it mean if I chose to use Full CDN, I should not use next-offline; and if I am using next-offline to cache the site with service worker on browsers, I should not use the Full CDN

[2019-02-27 16:56] hanford commented on #121
Hmm, can you provide a repository where this issue is reproduceable?

[2019-02-27 22:49] majongaagnojam commented on #121
Hello,

I have the same error, plus this one :

`SW registration failed:  TypeError: Failed to register a ServiceWorker: A bad HTTP response code (404) was received when fetching the script.`

Here is my repo to reproduce : https://github.com/majongaagnojam/next

Thanks you !

[2019-02-28 16:41] hanford commented on #122
I don't think so! I use the "Full CDN" on my personal website and also use next-offline.

Disregard browser caching, next-offline will only come into play if there is 0 network availability

You can see my personal website [here](https://github.com/hanford/personal-website)

[2019-02-28 16:41] hanford commented on #122
Going to close this because it's not an issue with next-offline specifically

[2019-02-28 16:41] #122 closed

[2019-02-28 16:43] hanford commented on #121
@majonga88 it looks like you've added next-offline to your `next.config` but you're not handling it on your server. (You need to ensure that your server knows to serve the webpack generated service worker)

In the next-offline documentation we specify how you can do this: https://github.com/hanford/next-offline#serving-service-worker

[2019-02-28 16:48] hanford commented on #121
@raymondsze I'm able to reproduce the issue you're describing in a repo I have locally. Hopefully will have some time to dive in over the next couple of days..

[2019-02-28 18:00] hanford commented on #121
@raymondsze this should be fixed in `next-offline v3.3.6` going to go ahead and close, thanks!

[2019-02-28 18:00] #121 closed

[2019-02-28 20:32] majonga88 commented on #121
It works and you fix it thanks a lot !

[2019-02-28 22:18] samanmohamadi commented on #62
Workbox 4 was released yesterday.

[2019-03-01 00:14] hanford commented on #62
@samanmohamadi yep! I'm hoping I'll get some time to make the transition either this weekend or next.

Should close several issues in this plugin

[2019-03-04 09:20] raymondsze commented on #121
It works now! thanks a lot.

[2019-03-04 11:02] ibraelillo opened #123 "Getting error when compilation in dev mode"
Hello,

I'd like to report this bug I'm facing right now:

When compiling in dev mode with next 8.0.2, I'm receiving this error:

Module Not Found : Can't resolve './register-sw-compiled.js'

Steps to reproduce:
--------------------
Use this configuration
[code]
Expected result:
next compiles successfully and offline navigation works with service-worker noop

Actual result:
![screenshot 2019-03-04

[2019-03-04 17:49] jeffVolt commented on #120
I have the same problem!!!

[2019-03-04 17:54] astrosalinas commented on #120
I have the same problem!
please help

[2019-03-04 17:57] Astrobboy commented on #120
same problem here

[2019-03-05 01:17] hanford commented on #120
I'm working on upgrade `workbox` to v4.0.0, it's a library we're using under the hood to power `next-offline`

Anyways, I'm having some trouble reproducing this with the latest version of workbox and my personal website, so maybe it's fixed? 🤞

My website with the latest code for next-offline can be found [here](https://personal-website-ck7wzn736.now.sh/) it has a server side rendered route in whi

[2019-03-05 01:27] hanford commented on #123
Currently on vacation @ibraelillo, will take a look afterwards

[2019-03-06 21:59] hanford commented on #123
@ibraelillo can you easily reproduce this error in a repository where I can look?

At first glance you're using `SwPrecachePlugin` and next-offline, generally speaking next-offline should do everything that `SwPrecache` is doing so curious if you still need that.

[2019-03-08 15:03] DouglasGabr commented on #120
@hanford I was able to reproduce the bug in your website:
1. Load the main page
2. Navigate to the Projects page
3. Go offline (I did in the Network tab, in devtools)
4. Refresh the page
5. Error!
If you look in the service worker cache, you see that it caches the javascript of the Projects page, but not the route itself, so the navigation works offline but the refresh don't.

[2019-03-08 17:43] ivanarielcaceres commented on #120
@hanford , I was able to reproduce the bug too in your site.

When navigate to project page using Link from Next.js, the request (getInitialProps) is executed from client side and it's work perfectly. But when reload the page using f5 request (getInitialProps) is executed on the server side. That's the main problem :(

When navigate to project and hit f5 before go offline, it's work pefectly!

[2019-03-21 14:21] marcioj commented on #121
Hi there! I see this error when using the `generateInDevMode: true` option. I believe it happens because this part is called multiple times https://github.com/hanford/next-offline/blob/0e10965ec052efe6bd71d594ce5fe9e337538746/index.js#L66 causing the file to be added multiple times.

Checking if the file is already there fixed the issue for me

[code]

Also looking the next with-polyfill example t

[2019-03-25 04:39] williamluke4 commented on #115
I'm having the same issue.. @jakemmarsh Did you find a workaround?

[2019-03-25 04:47] jakemmarsh commented on #115
@williamluke4 unfortunately not. I also tried using `workbox-webpack-plugin` directly and ran into the same problems, so the issue does seem to be there. I resorted to just writing my service worker from scratch and loading workbox manually.

[2019-03-25 04:47] #115 closed

[2019-03-29 19:32] jan0991 opened #125 "No manifest file"
Running lighthouse I get the following:
[code]
My config(but it gave same error just with nextoffline,  copied from docs):

[code]

APP is served from root of the domain. next-offline is supposed to generate `manifest.json` right? Any ideas?

[2019-04-01 14:19] CDharmateja commented on #125
I am not sure if next-offline will generate a `manifest.json` file but you can include it by creating it in `static` folder and linking it to the `Head` by importing `Head` from `next/head`.

[2019-04-02 00:39] hanford commented on #125
@jan0991 next-offline doesn't generate a manifest.json, it generates a service worker.

Can you try removing next-compose-plugins and see if the issue continues?

[2019-04-02 11:38] wilsonpage commented on #94
Just lost a lot of time on this, https://github.com/hanford/next-offline/issues/94#issuecomment-445028488 helped me get a working build.

I have a feeling not all config errors from `InjectManifest` are being surfaced. Or maybe `workbox-webpack-plugin` isn't failing silently 🤔For example, if I accidentally include `workboxOpts.runtimeCaching`, it also silently fails.

[2019-04-03 16:29] ematipico commented on #20
I bumped into the same issue. Even though I use correctly `NODE_ENV=production`, this doesn't work. I don't use `now` and I have a custom server.

[code]

[2019-04-03 16:48] ematipico commented on #20
I solved the issue. For future reference: the workbox snippet downloads the .dev code if your server is running on `localhost`.

![Screenshot 2019-04-03 at 17 47 57](https://user-images.githubusercontent.com/602478/55497162-a6511600-5638-11e9-91fb-754d132d62e4.png)

[2019-04-03 20:52] efleurine commented on #69
I saw many advices to disable next-offline during development phase. But in that case how do we test other features of SW?

[2019-04-04 15:43] jackgray commented on #103
just wondering if this was fixed or if there is a version of next-offline that works? I keep getting a failed to load service-worker.js error when communicating to server and none seems to be generated.

[2019-04-04 18:41] hanford commented on #103
@jackgray I can't fix bugs if they can't be replicated. I need consistently reproducible repository to take a deeper look at this issue. I'd also be happy to merge/review a PR if you think you've fixed it.

I've never had this issue and I've used next-offline numerous times. There are many examples of next-offline working fine, you can see the [examples folder](https://github.com/hanford/next-offl

[2019-04-07 01:05] MatteoGioioso opened #127 "SW registration failed"
## Bug report 🐞
Hello there, I am trying to use this library with my custom service-worker file, but unfortunately is not working for my use case.

I am receiving this error:
[code]

I am using Next.js inside a Docker container

Docker file:

[code]

Docker compose
[code]

Next.js config

[code]

[code]

After the build process I can see my service worker file appear correctly in the `.next` folde

[2019-04-07 01:35] MatteoGioioso commented on #127
OK I have ended up making the repo where I can reproduce it: https://github.com/MatteoGioioso/next-offline-sw-error-2

[2019-04-08 06:11] srosset81 opened #128 "Not compatible with Workbox's app shell model"
Hello,
I'm in the process of migrating an existing PWA React app to NextJS and, during my tests, I thought I could use this plugin "as is" in order to have a fully offline website. However, I now understand that next-offline **caches only the pages that have been visited previously** (with all the server-side data loaded in `__NEXT_DATA__`). If a visitor installs the PWA and then go to a never-vis

[2019-04-08 06:21] srosset81 commented on #8
Hi @lasersox I think you may be interested in this issue I opened: https://github.com/hanford/next-offline/issues/128
Did you come up with a solution on your own ?

[2019-04-08 16:26] hanford commented on #128
@srosset81 would love to see some example code, would also be happy to extend next-offline in making this easier on your end. I'm pretty busy this week - but will keep an eye on this issue so please post what you find 😃

[2019-04-08 16:28] hanford commented on #127
Thanks providing a repo where this consistently happens. I'm pretty busy this week but will report back once I have some time to dig in

[2019-04-09 07:11] srosset81 commented on #128
@hanford I've managed to generate an HTML for each route, and it seems to work pretty fine. [Here's the gist !](https://gist.github.com/srosset81/af4eb6d92495d8dbbe98dbb1557dcdb1) For now I've used `HtmlWebpackPlugin` and a custom plugin which "hooks" on HtmlWebpackPlugin but I guess there are simpler ways to make it work.
Once the service worker is installed, every time I go to a route, it loads

[2019-04-10 15:09] srosset81 commented on #128
Two things to note:

1. On the App component (`_app.js` file), it's necessary to load manually the query string variables as they are not on the `__NEXT_DATA__` data. Since I'm using next-routes, I'm doing it like this.
[code]

2. When the service-worker is active, the `getInitialProps` functions are never called. So you should avoid relying on them.

[2019-04-15 05:58] junibrosas commented on #69
@efleurine you can still test sw features by running your app in production mode locally. And thats npm run build && npm run start.

[2019-04-19 09:15] kodermax opened #130 "CORS Supporrt"
Hello,
I have this problem with CORS
[code]

[2019-04-19 15:38] hanford commented on #130
i don't think that is related to `next-offline` you should check the CORS settings on your server. If you're using express, i'd suggest looking at this library: https://www.npmjs.com/package/cors

[2019-04-19 15:38] #130 closed

[2019-04-21 23:21] straxico commented on #127
i have similar problem

[2019-04-22 18:06] charlie632 opened #131 "now2 example SW Registration Failed"
I downloaded the _now2_ example from the repo, npm installed, and then ran the example. I got the following error:

`SW registration failed:  TypeError: Failed to register a ServiceWorker: A bad HTTP response code (404) was received when fetching the script.`

I tried building the app and running it with a production environment. Below is my package json.

[code]

Same error as above.

[2019-04-22 18:18] hanford commented on #131
the now 2.0 example relies on the `now.json` being used (that's what actually tells Now what to do when a request for the SW comes in) .. which only happens when the application is being hosted on now 2.0.

I bet if you typed `now` and deployed the application it would work as expected. Going to close this because i don't think this is an issue specific to next-offline

[2019-04-22 18:18] #131 closed

[2019-04-28 00:28] MatteoGioioso commented on #127
@hanford hello any update? If you have something in mind, with some guidance I can help to fix it.

[2019-04-28 10:18] srosset81 commented on #127
I'm running into the same issue. @MatteoGioioso I would be glad to hear how you solved it !

[2019-04-28 18:23] Emiliano-Bucci opened #132 "staleWhileRevalidate doubt"
Hi to all! I don't know if this is a bug or is actually the right behavior.

The first time i load the page the `SW` is registered and the data is being fetched using the network (i'm using the `staleWhileRevalidate` caching strategy). The second time i load the page, the data is being fetched again from the network even if in the browser `network` tab it appears that data is being loaded from the

[2019-04-29 15:52] hanford commented on #127
@srosset81 @MatteoGioioso @straxico

After looking, you need to either have a custom next.js server or a now.json to handle the service worker request.

`next-offline` needs _something_ to handle the request, as Next.js won't handle it by default.

The Now 1.0 example is probably easiest for existing Next.js applications, I use it in several other personal projects.

The only real changes are the

[2019-04-29 15:58] hanford commented on #127
I've fixed the issue in the repro case you shared over here: https://github.com/hanford/next-offline-issue-127

Going to go ahead and close issue. Feel free to drop another comment if you have any questions

[2019-04-29 15:58] #127 closed

[2019-04-29 16:00] hanford commented on #103
Going to go ahead and close this issue. I can't really look in more without some sample code or a reproduction case.

I'd make sure you have a server or now.json set up to serve the server-worker GET request. Feel free to comment again again or open another issue if you have any other issues

[2019-04-29 16:00] #103 closed

[2019-04-29 16:00] hanford commented on #103
This could be related to #127

[2019-04-29 16:02] hanford commented on #84
Going to go ahead and close this. Probably related to using next-compose-plugins, and that issue is being tracked over here: https://github.com/hanford/next-offline/issues/69

[2019-04-29 16:02] #84 closed

[2019-04-29 16:03] hanford commented on #125
Going to assume removing next-compose-plugins fixed the issue, we have a separate issue for that being tracked over here: https://github.com/hanford/next-offline/issues/69

[2019-04-29 16:03] #125 closed

[2019-05-03 21:41] #132 closed

[2019-05-03 21:52] Emiliano-Bucci opened #133 "staleWhileRevalidate bug"
Hi to all!

I think i found a weird bug when using the `staleWhileRevalidate` cache strategy. Currently i'm working on a headless wordpress site (Next.js + Apollo + graphQL) and decided to add the `next-offline` lib. so:

- When i first load the page, the `sw` is installed. (data is being fetched from the network).

- Second reload: data is still being fetched from the but the cache is being fille

[2019-05-06 03:30] GusRuss89 commented on #127
I'm a bit confused by this. If the service worker is generated at compile time, why do I need a custom server to serve it? Can't I just point to the pre-generated service-worker.js as a static file?

[2019-05-06 05:20] hanford commented on #127
@GusRuss89 service workers aren't treated as ordinary JS files.

https://github.com/w3c/ServiceWorker/issues/940

If you're using Now 2.0, you don't need a standalone server, just a now.json. You can see how that works by looking at my [personal website](https://github.com/hanford/personal-website)

[2019-05-06 06:18] GusRuss89 opened #134 "Failing lighthouse audit with stock configuration"
I am using the stock-standard next-offline setup. server.js is copied straight from the now v1 example (I'm not using now), next.config.js exports the wrapped config, but doesn't add anything custom to it (no `workboxOpts`), and I have a manifest.json with the `start_url` set to `/`. My `npm run dev` and `npm start` scripts are updated to run `node server.js`. My app runs at `localhost:3000` (not

[2019-05-06 17:15] hanford commented on #134
Could you share a repo where this issue is reproducible? I have [this project](https://github.com/hanford/trends) which uses `next-offline` and scores a perfect performance audit in chrome, so the behavior you're experiencing is definitely not what should be happening

[2019-05-06 20:33] andreisocaciu commented on #86
I have the same problem.
[code]
With this next.config.js I still get 404 on /service-worker.js.

[2019-05-07 00:01] GusRuss89 commented on #134
I'll make some time to put together a repro, but a couple of quick questions:

1. does the list of URLs look right, or should it have routes like `/` and `/login`?
1. just confirming - this should work with a regular SSR app and not only with `next export` right?

Thanks

[2019-05-07 00:19] hanford commented on #134
correct, none of my apps use `next export` and yes the URLs look correct

[2019-05-07 00:24] hanford commented on #86
@andreisocaciu can you open a new issue with as much information & and repo where this issue is reproducible?

[2019-05-07 07:06] andreisocaciu commented on #86
I managed to make this work:

next.config.js:
[code]

now.json: (v2)
[code]

Great job with the package!

[2019-05-07 16:40] lednhatkhanh commented on #134
Also happens for me when using custom express config:

next.config.js

[code]

server.ts
[code]

The `service-worker.js` is loaded and working, but my website still fails the audit, I don't see the `Client` field in Chrome Devtools either.

I think either I'm doing wrong somewhere, or there is some problems when using custom server...

[2019-05-07 16:46] lednhatkhanh commented on #134
Wow, after adding `{ urlPattern: /^https?.*/, handler: 'networkFirst' }` all the audits passed!

[2019-05-08 01:29] GusRuss89 commented on #134
This worked for me too. Any idea why it was necessary?

[2019-05-08 02:43] GusRuss89 opened #136 "Fails lighthouse audit when express compression is used"
My setup is given in #134

I got it working by adding `{ urlPattern: /^https?.*/, handler: 'networkFirst' }` as one of the commenters suggested.

However, it stops working - and fails the same audit - if I add Gzip compression. I.e. this:

[code]

I've tried filtering out the service worker so that it is not compressed:

[code]

It has no effect.

Without compression I get poor performance scores

[2019-05-08 12:44] Erik-Sovereign opened #137 "Getting offline functionalties to work in DevMode"
Hello everyone,
I was trying out the example in next-offline/examples/now2/. I "yarn install" 'd it and deployed it with now. Offline functionalities worked just great!
It didn't work in dev mode though (yarn dev). The only change I made to the files, was adding "generateInDevMode" in  next.config.js
Like this:
`const nextConfig = {
  generateInDevMode: true,
  workboxOpts: {
...
`
The error throw

[2019-05-09 00:04] hanford commented on #137
are you using `now dev` ?

We haven't _really_ spent much time making the plugin work in development other than ensuring the SW registers and stuff correctly.

[2019-05-09 00:06] hanford commented on #134
@GusRuss89 when you pass a custom `runtimeCaching` arg in, it replaces the default. The default is `{ urlPattern: /^https?.*/, handler: 'networkFirst' }` which means cache everything served over https.

Were you overriding this property?

Going to go ahead and close this issue as this seems to be resolved.

[2019-05-09 00:06] #134 closed

[2019-05-09 00:10] hanford commented on #136
@GusRuss89 are you hosting on your own? I think `Now` does this stuff for you for free. (adds brotli compression!)

I'm not that familiar with the compression middleware

[2019-05-09 00:15] GusRuss89 commented on #136
@hanford I think it was an issue introduced by one of my Chrome extensions. If I run the audit in an incognito tab it passes. I didn't realise my extensions influenced the report. Closing the issue.

[2019-05-09 00:15] #136 closed

[2019-05-09 10:10] Erik-Sovereign commented on #137
Thanks for your time!
I tried it after you suggested it. Unfortutanely now dev isn't working for me. While looking at the issues of now-cli I think it is a Windows 10 issue.

Do you know an alternative way than yarn dev or now dev to test Service Workers faster than with deploying the site with them every time?

[2019-05-09 19:12] hanford commented on #137
@Erik-Sovereign `now dev` isn't actually working for me either over on my [personal website](https://github.com/hanford/personal-website). I'm about to take off on vacation for the next few days, but if I have some downtime I'll take a look

[2019-05-09 19:36] Erik-Sovereign commented on #137
Thank you very much. I appreciate it.

[2019-05-10 14:10] Adam-Collier opened #138 "Only works without <NextScript />"
Hey Jack, Thanks for all of the effort you've put into making this! I'm having an issue with getting it working properly in my Next application. If I remove NextScript from my document.js it works well but then nprogress, and a lot of my components functionality breaks. But if I leave NextScript in there the service worker doesn't cache any of the requests etc. If you wanted to take a look the rep

[2019-05-11 08:33] #138 closed

[2019-05-14 01:27] #62 closed

[2019-05-14 21:17] mrspeaker commented on #137
I am having the same issue - but it seems like it's in prod mode too? If I do a clean clone of the test example and build and `npm start`, it throws the same errors:

![Screenshot from 2019-05-14 17-14-04](https://user-images.githubusercontent.com/129330/57732829-f5448f00-766b-11e9-8ba7-ae04cfce720d.png)

(This is in Firefox, on Ubuntu)

[2019-05-14 21:44] hanford commented on #137
@mrspeaker I'm not seeing those errors on my website in any browser (don't have access to Ubuntu) ..

Can you share a screenshot of this happening on my website?

<img width="1460" alt="Screen Shot 2019-05-14 at 2 41 36 PM" src="https://user-images.githubusercontent.com/2148168/57734373-97597c80-7656-11e9-8a29-57f4251b5643.png">

[2019-05-15 13:50] mrspeaker commented on #137
@hanford  - hmm, ok - it must be something in my Firefox then. I have my mac with me today and I'll see if I can figure out what it is. Here's what I get on your page (the warning is because I am blocking Segment.io, but I have white-listed everything else)

![Screenshot from 2019-05-14 17-58-57](https://user-images.githubusercontent.com/129330/57735319-317aee00-7672-11e9-96c9-f650058423de.png)

[2019-05-15 16:50] Ktchan825 opened #140 "Support Offline google analytics"
Hi there, I just found that we could [enable google analytics with workbox](https://developers.google.com/web/tools/workbox/guides/enable-offline-analytics). I just wonder if there is any config supporting this features.

Any help would be appreciated, thank you!

[2019-05-16 11:59] heshamelmasry77 commented on #56
please reopen the issue i have the same problem it is not solved

[2019-05-16 13:38] heshamelmasry77 opened #141 "A bad HTTP response code (404) was received when fetching the script."
A bad HTTP response code (404) was received when fetching the script.

Error during worker registration: TypeError: Failed to register a ServiceWorker: A bad HTTP response code (404) was received when fetching the script.

i am trying to add PWA to my next js app but it is not registering.

this is my next.config.js

[code]

and here is my server.js

[code]

and this is my package.json

[code]

th

[2019-05-16 16:11] hanford commented on #56
@heshamelmasry77 feel free to open a new issue, please provide steps to reproduce your error and information about which next/next-offline version you're using

[2019-05-16 16:17] hanford commented on #141
When you build your application does the service worker end up in `.next/service-worker`?

Why do you have this line in your next.config?

[code]

Could you provide a repo where I can pull down and take a deeper look?

[2019-05-17 09:46] srosset81 opened #142 "Webpack error when adding the devSwSrc parameter"
If I set the `devSwSrc` parameter to next-offline, I get the following error in dev mode :

[code]
If I remove the  `devSwSrc` parameter, everything works fine again.

I don't know where this error is coming from, but it is certainly linked to webpack, which has a lot of `issuer` properties.

[2019-05-18 15:45] VuongVu opened #143 "Workbox configuration"
After build i see a notice:
[code]
Does this mean my configuration is not valid in the new version?
This is my config:
[code]
I have another question, does sw automatically recognize the new version after I deploy my server again, otherwise how to do it? Thank you.

[2019-05-19 09:42] nghiepit opened #144 "How to hide "SW registered" message in production?"
Hi guys,

Thank you for your contribution.
I have a small question, How to hide "SW registered" message in production?

![image](https://user-images.githubusercontent.com/4768095/57980366-ffdc9b00-7a54-11e9-8f1b-123b477c354a.png)

[2019-05-19 20:54] heshamelmasry77 commented on #141
@hanford  i have added you to the project please do have a look :)

[2019-05-19 22:37] hanford commented on #143
Going to close this issue, I think it's a duplicate of this: https://github.com/hanford/next-offline/issues/117

tl;dr the settings are being deprecated but they're not fully deprecated yet.

the SW _will_ automatically recognize newer versions. you're using a `networkFirst` cache strategy which means next-offline will only fall back to the cache if the network isn't available.

[2019-05-19 22:37] #143 closed

[2019-05-19 22:38] hanford commented on #144
@nghiepit currently dont have support for this, we could add a `verbose` flag in the plugin that hides the message if `verbose` is false though.

Would merge a PR around that if you think it'd be helpful

[2019-05-22 04:35] programbo commented on #141
@hanford Could the problem be that @heshamelmasry77 is using Next.js 8 and deploying to Now 2.0? The build will be done remotely so there is no opportunity to move the service-worker.js to somewhere accessible or route to it in now.json.

Is it possible to set a path to output the service worker? Like build it in `/static/service-worker.js` or move it there post-build?

[2019-05-22 05:35] programbo commented on #141
Disregard my idea. Turns out that moving the `service-worker.js` into `static` is simple with a `mv` command in the `now-build` task, but the service worker wants to reference things in the old Next 7 file structure.

[2019-05-22 08:48] heshamelmasry77 commented on #141
@programbo Hey i actually don't use now 2 cause of the routing weird way they want us to implemented it. So i use heroku and normal express server.
Regarding my issue yes it is still not working :( and i have no idea why this is happening.

[2019-05-23 02:01] MatteoGioioso commented on #127
@hanford Hei, sorry, I forgot to say thanks for the help!

[2019-05-30 20:19] rauleite opened #146 "networkFirst Depreacted"
Hey, thank you for your work, it helps me.

On build time:

_Specifying 'networkFirst'' in a 'runtimeCaching[].handler' option is deprecated. Please update your config to use 'NetworkFirst' instead. In v4 Workbox strategies are now classes instead of functions._

According to the [migration guide](https://developers.google.com/web/tools/workbox/guides/migrations/migrate-from-v3), just update examp

[2019-05-30 22:43] hanford commented on #146
Thanks @rauleite

If you'd like to a PR you can, otherwise I'll probably update it this weekend.

[2019-05-30 23:15] rauleite commented on #146
Hy @hanford

I did it. If anything happens, let me know.

[2019-05-30 23:20] hanford commented on #146
thanks for the contribution @rauleite !

[2019-05-31 17:21] #146 closed

[2019-05-31 17:23] hanford commented on #101
Going to go ahead and close this issue considering I'm not sure if this is still happening / how to repo and a lot has changed since this was openned

[2019-05-31 17:23] #101 closed

[2019-06-05 21:19] lglossman commented on #133
That's how staleWhileRevalidated is intended to work, it returns the cached data (without the new post) while in the background it refreshes the cache but you won't see it take effect until the next reload.

[2019-06-07 13:14] mydearxym opened #149 "home page (document type) is not cached"
hello there ~

i am using this awesome next-offline on [my side project](https://github.com/coderplanets/coderplanets_web), the online address is [here](https://coderplanets.com/home/posts)

everything woks fine except the home page, which is document type:

![image](https://user-images.githubusercontent.com/6184465/59106316-b3f08800-8968-11e9-9d37-0f9eb2a4f7f5.png)

the offline config file is [he

[2019-06-11 18:13] hanford commented on #149
After visiting it and disabling my network connection things worked for me. Can you provide some more information?

<img width="1616" alt="image" src="https://user-images.githubusercontent.com/2148168/59296018-d66cf480-8c39-11e9-8b28-8d2111c60a8c.png">

[2019-06-12 01:20] mydearxym commented on #149
@hanford thanks for the reply ~

i was expect the initial page is cached by the service worker so i can visit the site even is offline

[2019-06-13 14:45] ScreamZ opened #150 "Can we get improved example in doc ?"
Hello,

I'm trying to build a simple PWA using next-offline.

The documentation isn't talking about how to deal with `manifest.json` and I see many different ways to deal with it. Not sure which one is cool.

That's why I think it could be a nice idea that you describe a complete workflow to achieve the setup :)

https://nextjs.org/features/progressive-web-apps is a bit simple and seems not work a

[2019-06-14 20:57] embpdaniel opened #151 "no service worker detected"
Hi, this is probably just something I'm confused about. I set up next-offline in my `next.config.js`, I set up manifest.json and icons inside my static folder, and I linked to these inside of _document.js:

[code]

The manifest file is found, the icons are found, but in the application tab in the developer tools on chrome it says `no service worker detected`.

I didn't add any service worker at al

[2019-06-16 15:07] raajnadar commented on #151
Try navigating to this file `https://<-your-website->/static/manifest.json` check if the manifest is not returning 404

[2019-06-17 16:09] hanford commented on #151
@embpdaniel how are you hosting the application?

`next-offline` automatically adds [this script](https://github.com/hanford/next-offline/blob/master/register-sw.js) to your bundle to automatically register the service worker.

A very common issue is that people aren't adding the necessary code to serve the service worker. Did you check out this portion of the README: https://github.com/hanford/ne

[2019-06-17 16:19] #150 closed

[2019-06-17 16:20] hanford commented on #150
added a section about serving the service worker which will hopefully reduce confusion

[2019-06-17 16:26] hanford commented on #149
because you're site is on `/home/posts` you might need to adjust the `scope` of your service worker:

Service worker scope information:
https://stackoverflow.com/a/35780776

how to modify scope w/ next-offline:
https://github.com/hanford/next-offline#next-offline-options

[2019-06-17 16:39] ScreamZ commented on #150
@hanford Thanks for quickly reply :)

I'm using next as static site builder (using `next generate` and `next export`, i'm trying to get the thing as simple as possible.

The other thing is that i want to validate in development that the worker is working, so I changed some things to get this :

[code]

In terms of hosting i'm on a premise solution with an nginx behind SSL.

**I also added a manife

[2019-06-17 17:42] hanford commented on #150
@ScreamZ I've added a new example which uses `next export`, and it seems to be working fine for me: https://github.com/hanford/next-offline/tree/master/examples/next-export

If you're still having trouble please open a new issue

[2019-06-18 01:33] mydearxym commented on #149
thanks, but the default scope  is set to '/',  is that mean next-offline will only cache the resource with _next prefix,  like: _next/some-script.xx  ?

[2019-06-18 02:58] embpdaniel commented on #151
@hanford This could be one reason why things aren't working. First thing is, I am testing locally (no https) which I'm thinking could be why it's not working?

I shy-ed away from the "serving service worker" section because the sub headings mention "Now 1.0" and "Now 2.0". I don't use Now at all. Currently I'm just deploying locally as I said, and eventually will deploy to firebase cloud functions

[2019-06-18 03:00] embpdaniel commented on #151
@raajnadar I did what you suggested, and I do find the manifest.json. Also, if I open the developer tools and go to the application tab, the manifest.json file seems to be found, and finds my app icons, but it tells me it did not find a service worker.

[2019-06-18 15:39] hanford commented on #151
@embpdaniel I should change that wording to not be around Now 1.0 / Now 2.0 then because it applies to _all_ next.js applications.

A request will come in to your Next.js application asking for the serivce-worker, and we'll need to handle that.

For you, the easiest approach would probably be looking at the Now 1.0 example where there is a custom server in front Next.js that responds with the serv

[2019-06-19 12:14] embpdaniel commented on #151
@hanford Thanks so much for the direction. I tried what you suggested. I added the server file and modified package.json. I am able to run the app through the server and the project runs. However, the service worker is still not loaded.

In the build directory, I do see that a service worker file is generated there:

<img width="281" alt="Screen Shot 2019-06-19 at 8 08 07 AM" src="https://user-ima

[2019-06-19 12:25] raajnadar commented on #151
copy paste the` service-worker.js` file to root dir (In build and then test it)

[2019-06-19 12:54] embpdaniel commented on #151
@raajnadar I think the `service-worker.js` is already on the root. In my screenshot it is placed inside the next folder:

<img width="281" alt="Screen Shot 2019-06-19 at 8 08 07 AM" src="https://user-images.githubusercontent.com/5573046/59767071-87454600-926f-11e9-8d96-8cfd0de247e1.png">

I think the first problem I'm having is that the `service-worker.js` is never requested. This looks to be the

[2019-06-19 13:06] embpdaniel commented on #151
Btw, directly accessing `service-worker.js` _seems_ to work (http://localhost:3000/service-worker.js). I get a blank page that says this:

`console.info('Service worker disabled for development, will be generated at build time.');`

Doing this also shows the requested path from my log on `server.js`:

`pathname requested:  /service-worker.js`

This is the console log I was expecting when simply ru

[2019-06-19 13:18] raajnadar commented on #151
Open dev tools in chrome (ctrl + shift  + I) check for a `Audits` tab run a audit. Wait for the audit to finish. In the report if the PWA icon is marked with a tick like this.

![snip](https://user-images.githubusercontent.com/17236768/59768872-ba64f500-92c2-11e9-8ea5-c66f8e383fbb.PNG)

Make sure you are doing this in production or with `next build && next start`

[2019-06-19 14:22] embpdaniel commented on #151
@raajnadar Thank you for your help. I think it is working. I ran a production build and ran next start. Firs thing I noticed was that my console logged this:

<img width="1116" alt="Screen Shot 2019-06-19 at 10 03 02 AM" src="https://user-images.githubusercontent.com/5573046/59772431-ba8cd280-9279-11e9-8bf3-d51fa0f96c99.png">

So it looks like with the production build it was able to find the serv

[2019-06-19 14:33] embpdaniel commented on #151
One thing I forgot to ask. My target is 'serverless', but when I ran the production build this way, I got an error when I loaded the page:

[code]

I tried running `npm rebuild` as suggested, but didn't help. Should this work using 'serverless' deployment option?

[2019-06-21 21:36] hanford commented on #151
@embpdaniel serverless targets should work. My personal website has that and it is fine.

Is this issue ready to be closed? Looks like the original issue was resovled

[2019-06-21 22:15] embpdaniel commented on #151
@hanford I had some issues in the local development related to this setup I was hoping to run by you, but I need to test things deeper. Will keep you posted just as soon as I can.

[2019-06-21 23:39] hanford commented on #151
local development wasn't really a priority when making this, it's something that needs to be revisited once I (or someone) has time

[2019-06-22 13:29] embpdaniel commented on #151
Oh I see. That probably explains some of the odd behavior I found. For the time being, how would you recommend we configure the local development setup so it is not activated on the local server?

[2019-06-25 00:06] hanford commented on #151
The service worker should be a noop during local development, it should cache anything

During development, you application registers this: https://github.com/hanford/next-offline/blob/master/service-worker.js

instead of the workbox service worker.

[2019-06-25 12:39] embpdaniel commented on #151
Thanks @hanford I was able to get it working in development. Worth noting that if you run the app locally with a production build, it will register the production service worker. If you then run the development build, the service worker remains registered, and the app does not behave properly. This is the issue I was having.

The simple fix is to unregister the service worker in the chrome dev too

[2019-06-25 12:39] #151 closed

[2019-06-25 16:36] hanford commented on #151
gotcha @embpdaniel ... yeah thats a really tricky state >_<

[2019-06-28 06:14] hanford commented on #104
Hey friends .. going to close this due to inactivity. If this is still a desired feature, open a new issue and maybe we can dig deeper!

[2019-06-28 06:14] #104 closed

[2019-06-28 06:14] hanford commented on #123
Going to close due to inactivity .. if you run into this please open a new issue!

[2019-06-28 06:14] #123 closed

[2019-06-28 06:15] #117 closed

[2019-06-28 06:15] hanford commented on #117
Closing this due to inactivity .. if this is still happening please open a new issue!

[2019-07-01 20:39] hanford commented on #144
Going to close this due to inactivity. If you'd like to change this functionality please submit a PR!

[2019-07-01 20:39] #144 closed

[2019-07-03 15:08] eltel commented on #141
I'm having the same issue on Heroku using Express - was there any fix for this?? I'm attempting to add PWA functionality to an already existing NextJS app is why - I can't find instructions on how to do this - I'm not getting any errors except the standard:
`SW registration failed:  TypeError: Failed to register a ServiceWorker: A bad HTTP response code (404) was received when fetching the script.

[2019-07-03 21:33] hanford commented on #141
@eltel I bet this is wrong: https://github.com/eltel/portugles/blob/master/server/index.js#L66

In the example, it assumes you have a `server.js` in the root directory, in your case it looks like it's not in the root, but in a subdirectory.

Maybe try adding a `../` or something along those lines for the path

[2019-07-03 22:09] dancancro opened #152 "Instructions needed for running trends app in production mode"
Continued from [this discussion](https://github.com/zeit/next.js/issues/861).

This is neither a bug report nor a feature request. It's a request for instructions.

The current [instructions](https://github.com/hanford/trends#setting-the-project-up-locally) for hanford/trends are easy to follow and effective for running the application in development mode. I would like to know how to run the appli

[2019-07-04 10:37] heshamelmasry77 commented on #141
@hanford can you maybe give me some help in this cause i am still having the same issue as well.

[2019-07-04 14:35] eltel commented on #141
Hi @hanford   - thanks for your time - while your explanation makes sense to me, it's still not working, I've tried everything I can think of but it's still constantly throwing the same error - I'm trying to identify exactly what I need to add to a pre-existing nextjs application to enable the service worker - I think maybe adding/using 'createServer' to/in a pre-existing Express server was a boo-

[2019-07-04 16:41] heshamelmasry77 commented on #141
@programbo  i am using heroku cause i have problem with now 2 and the new ways of routing.

[2019-07-04 16:56] serjt12 commented on #141
Guys, I have been dealing with the same error, and the way to fix it was, as @hanford recommended `../ `but like this:
[code]
I hope this helps. regards.

[2019-07-04 21:03] eltel commented on #141
@serjt12  - Man, at first glance that appears to have worked!! I'll check in detail tomorrow (running short on time tonight) - many thanks, either way, I'll get back to you asap.

[2019-07-04 21:57] softwarenacho commented on #127
The link is down and I have this same issue.

[2019-07-04 22:19] eltel commented on #141
So, thanks again @serjt12 - the service worker now seems to be registering correctly, although now I can't get the browser to fetch my web manifest, I've tried both site.manifest and manifest.json in the root directory and I keep getting a
 `This page is controlled by a service worker, however, no start_url was found because no manifest was fetched.` error (and similar) - I know this is not relate

[2019-07-04 22:43] hanford commented on #127
@softwarenacho please open a new issue

[2019-07-05 02:08] MatteoGioioso commented on #127
@softwarenacho I have forked it
https://github.com/MatteoGioioso/next-offline-issue-127

[2019-07-06 01:43] hanford commented on #127
thanks @MatteoGioioso !

[2019-07-06 05:34] softwarenacho commented on #127
Thanks @MatteoGioioso , I managed to solve it following one off the examples @hanford had published at:
https://github.com/hanford/next-offline/blob/master/examples/now2/now.json

I was missing including the service worker in the now configuration.

[2019-07-09 00:35] straxico opened #153 "warn in build time from workbox"
hi
when i build my project i see this warn. i use next-offline without any config and dont use globDirectory or globPatterns ... but i see this warn
[code]

[2019-07-09 17:16] arrel opened #154 "Example for Now 2 not pointing to correct service worker"
The [example for now2](https://github.com/hanford/next-offline/tree/master/examples/now2) does not work out of the box because:
1. the service worker is auto-generated in the `/static` folder, but the default config sets `swDest: workboxOpts.swDest || 'service-worker.js',`
2. The next config target isn't set to `'serverless'`

I got it working by adding the below config options `next.config.js`
[c

[2019-07-09 18:33] hanford opened #155 "Easier usage with development"
Right now we've built the plugin very much in a "production first" mindset and never really stable support for development mode.

Developers want to test this plugin before sending it to production, and that's a lot harder than it should be.

We should fix that by making `next-offline` work seamlessly in both development and production modes.

[2019-07-10 14:15] ScreamZ commented on #140
+1 @hanford

[2019-07-10 14:16] ScreamZ commented on #154
And also it's good to know if this is specific to `now2` or also to any running environment like `nginx` static folder.

[2019-07-10 14:53] ScreamZ commented on #154
https://github.com/hanford/next-offline/blob/master/examples/now2/now.json

AS we can see there is a specific redirection too

[2019-07-10 14:54] Ktchan825 commented on #140
@ScreamZ Hi, just add
[code]
in your next.config.js

[2019-07-10 14:55] ScreamZ commented on #140
All right thanks :)

[2019-07-10 20:09] hanford commented on #140
Thanks @Ktchan825.

@ScreamZ I'm going to go ahead and close this issue.

Feel free to open another if you run into anything else!

[2019-07-10 20:09] #140 closed

[2019-07-10 20:15] hanford commented on #154
@arrel thanks for pointing out the serverless thing.

Originally made the examples while now 2 was still extremely early and so things have changed slightly.

As for updating the example, I've updated and it can confirm it's working when deployed w/ now 2.0 - though I'm not 100% sure if it's working during development.

[2019-07-10 20:16] hanford commented on #141
@heshamelmasry77 are you still experiencing the issue?

[2019-07-10 20:17] hanford commented on #137
hey friends, going to close this in favor of https://github.com/hanford/next-offline/issues/155

I'd like to prioritize this and if I have some downtime this seems like the biggest issue people have.

[2019-07-10 20:17] #137 closed

[2019-07-10 20:19] hanford commented on #142
The current development work flow is super buggy. It was a total after thought when making this plugin.

I'd like to revamp it, and if I get some downtime in the near term future I'll spend some time on it.

For now I'd like to track all development work flow related things in this issue: https://github.com/hanford/next-offline/issues/155

[2019-07-10 20:19] #142 closed

[2019-07-10 20:20] hanford commented on #153
yeah, `next-offline` is using them.

We're benefiting from the functionality (more things are cached) so I'm tempted to leave it.

[2019-07-10 22:34] derekdowling opened #156 "Original Workbox Manifest File Being Imported By SW"
## Bug 🐞

Version: Next-Offline 4.0.2

**What happens:**

When using a custom `importsDirectory` in `workboxOpts` with `generateSw: true`, the original SW precache manifest file generated by Workbox is still being requested in the Service Worker file from a an `importScripts` invocation line that looks something like:

[code]

The pre-cache assets as listed in the file generated by Workbox are not

[2019-07-10 22:44] derekdowling commented on #156
Is there a reason why next-offline couldn't utilize one of Workbox's existing fields to apply the necessary `_next` prefix to pre-cache assets. I'm thinking specifically of `modifyURLPrefix` or `manifestTransforms` as seen [here](https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin)?

[2019-07-11 19:34] derekdowling commented on #156
Looks like there is going to be a breaking change with Workbox v5 with regards to Next-Offline's precaching strategy: https://github.com/GoogleChrome/workbox/issues/1774#issuecomment-507819065.

[2019-07-11 19:41] edwinwebb commented on #154
I tried the example here https://github.com/hanford/next-offline/tree/master/examples/now2 and it didn't work offline. I replaced next.config.js with this file https://github.com/arrel/next-offline-now-service-worker/blob/master/next.config.js to have it work as expected.

[2019-07-11 20:58] hanford commented on #156
@derekdowling I believe at the time, (workbox 2 or 3) when most of the initial development was done, those features either didn't exist or I simply didn't know about them.

I'd be happy to lean on them (entirely, if possible) and remove the parts of next-offline that manually achieving this.

Would you be interested in doing a PR? My primary focus when I work on this plugin (hoping to get a few ho

[2019-07-11 21:59] derekdowling commented on #156
@hanford, yup, that's what I suspected 😆. I should be able to take a crack at this. Unfortunately it looks like this is going to require getting to Workbox 5 first. How do you feel about me bundling in that with this work and then cutting this as a next-offline v5 Alpha to match?

[2019-07-11 22:32] hanford commented on #156
Sounds great!

[2019-07-12 20:48] TonyBrobston opened #157 "404 on /_next/main.js"
- Issue and steps to reproduce.
    When the service worker is registered one of the items in the `precacheManifest` returns a 404 when requested. I can't provide the repo but may be able to come up with a code sample later to reproduce, I assume it will be difficult but I could give it a shot.
- Versions:
    I've tried 7.0.2 and 9.0.1 of `next` with 4.0.2 of `next-offline`
- Screenshots.
    Her

[2019-07-14 03:59] dancancro commented on #152
No hurry on this. I managed to add a service worker to my app using this starter instead: https://github.com/ooade/NextSimpleStarter/issues/100

[2019-07-15 01:30] hanford commented on #157
Can you provide an example repo with some steps where I can easily reproduce this error?

[2019-07-15 01:31] hanford commented on #156
@derekdowling let me know once you begin working on this, will likely use your branch as my base for the development mode work I'll do. (that way we don't step on each others toes with the v5 upgrade).

[2019-07-15 18:57] arrel commented on #154
@edwinwebb that's right. Without `swDest` set to point to the static folder the service worker file is generated in the `.next/` root but is not deployed.

I believe now creates lambdas for each page and copies the `/static` folder over, but does not deploy files in the root of `/.next` build folder.

[2019-07-15 19:29] edwinwebb commented on #154
@arrel Found it a little surprising the example didn't work out of the box. Many thanks for the project. Very easy to use and great results.

[2019-07-15 20:23] derekdowling commented on #157
This might be related to: https://github.com/hanford/next-offline/issues/156.

[2019-07-15 20:24] derekdowling commented on #156
@hanford https://github.com/hanford/next-offline/pull/158 🎉

[2019-07-15 21:10] TonyBrobston commented on #157
@derekdowling It seems to be expecting `main.js` at `https://[removed url].com/_next/main.js?__WB_REVISION__=ded8378b7df01f45c72c`.

When I navigate to that url I get:
![image](https://user-images.githubusercontent.com/4724577/61249454-e2f1da80-a71a-11e9-82c1-8da156367b98.png)

I read your issue: https://github.com/hanford/next-offline/issues/156 and it seemed very similar.

@hanford I'll read thr

[2019-07-15 21:34] TonyBrobston commented on #157
@derekdowling I re-read your question and think I misinterpreted it. I don't entirely understand how `next` serves up some of these files. Are you asking what url I expect `main.js` to be served from? Initial my answer is that I don't know, I can try to determine that. I'll have to look more into how `next` serves files to understand where `main.js` originates from.

[2019-07-15 23:10] derekdowling opened #160 "Upgrade Test Example To Next 9"
Self-explanatory. Upgrade to ensure that Next-Offline works as expected with the newly released Next 9 to make sure none of the build process has caused breaking changes and no new metadata files make their way into the pre-cache manifest.

[2019-07-16 00:07] ahmadawais commented on #127
For folks who are using workspaces and have the Next.js site in a dir called `www` make sure you use the following `now.json` setting.

[code]

[2019-07-16 05:27] hanford commented on #154
thanks for the PR! Going to go ahead and close this now that I've merged it.

Feel free to open another issue if any of ya run into anything else.

[2019-07-16 05:27] #154 closed

[2019-07-16 17:35] arrel commented on #154
Thx! That was fun.

[2019-07-17 00:38] ahmadawais commented on #157
I have a similar issue.

When I deploy a new build the site fails to load.

![](https://on.ahmda.ws/363693/c)

Looks like the while the `service-worker.js` file does get updated but the HTML of index.html still has the old version of JS files.

E.g. in the `https://domain.dev/service-worker.js` I have this

[code]

But on the site's HTML it's still loading the old files which are 404.

[code]

HEL

[2019-07-17 00:41] ahmadawais commented on #157
Here's my config:

[code]

and `now.json` for monorepo with site Next.js in `www` dir.

[code]

[2019-07-17 17:01] derekdowling opened #161 "Consider Making Default "scope" Dependent On registerSwPrefix"
Currently `registerSwPrefix` and `scope` are separate configuration options in next-offline. For first time users of this package or those new to PWA concepts they might not realize that the [former affects the latter](https://developers.google.com/web/ilt/pwa/introduction-to-service-worker#registration_and_scope).

### Suggestion
By default, if the consumer sets a custom SW prefix via `registerSw

[2019-07-17 18:07] TonyBrobston commented on #157
@ahmadawais As you mentioned, seems like a caching issue. I'm not familiar with how you bust the cache. Maybe @hanford can clarify or point us towards some documentation?

As for my issue, I basically solved the `/_next/main.js` issue the same way I solved the `/service-worker.js` issue. We're using hapijs so I could follow the example, but used it for reference:

serving `/service-worker.js`:
[co

[2019-07-17 18:14] ahmadawais commented on #157
@TonyBrobston probably. For my case issue was that severe — I just removed the PWA from Next.js and not happy about it.

[2019-07-22 03:41] pruhstal opened #162 "More information about invalidating cache"
Hi there,

I've implemented `next-offline` in my project, but when I create new content, and navigate to another page using `Router` from `next/router`, some of the content on the page changes (e.g. the title, description, images), but other content (e.g. customer reviews) are being displayed from the previous page navigated from.

Does this sound like a common issue? Wondering if I'm overlooking

[2019-07-22 15:31] hanford commented on #162
depends on the type of cache you're using. can you share your next.config file?

By default next-offline uses a `NetworkFirst` cache, which means it will always try and hit the network to display content, only when that fails will it fall back to the local cache.

[2019-07-22 16:15] pruhstal commented on #162
Thanks for the reply @hanford! I'm not specifying anything other than just the default config out of the box:

[code]

[2019-07-22 21:08] aralroca opened #163 "Storage size is always increasing"
I feel that something I'm doing wrong in my side. However, I didn't see a Slack community or other ways, so I prefer to ask directly here.

I just configured `withOffline` with the next config:

[code]
With this I expect that the service worker caches all the static folder and then all the `https` GET requests (latest 50) with the `purgeOnQuotaError` to clean the cache when it exceed.

Nevertheles

[2019-07-23 18:27] derekdowling opened #164 "Consider Converting To Mono-Repo"
This is a big ask, but converting all of the examples, tests, and actual plugin to be part of a single monorepo via something like Yarn workspaces would make local development much simpler.

The current flow requires an awkward blend of developing, using `yarn link` and then doing a version bump to a specific commit. This also would make CI considerably easier/faster if that became a priority in t

[2019-07-23 18:37] hanford commented on #164
yeah, definitely would like to do this.

the tests/examples situation is far from ideal, I can probably swing this over the next day or two. I've got some monorepos that I can use as a template

[2019-07-24 12:26] Vgurnani commented on #141
@hanford I am facing the same issue.
SW registration failed:  TypeError: Failed to register a ServiceWorker: A bad HTTP response code (404) was received when fetching the script.

I have built an app using a custom server.

server.js

const fs = require('fs')
const http = require('http')
const next = require('next')
const path = require('path')
const https = require('https')
const routes = require

[2019-07-24 13:11] ScreamZ opened #165 "Pre-cache static HTML files"
Hello,

I'm using next as static export.

# The problem

The problem is that workbox webpack is running during `next build` phase which will cache all the JS assets that are used by the app. During this phase, html files are not generated yet, so the plugin can't detect them.

The thing is that the JS assets are not enough and we also need each static HTML page to make the app work if someone is c

[2019-07-24 13:31] serjt12 commented on #141
make sure to point to the correct path to your `.next` folder could be `../.next` depending on your folder structure.

[2019-07-24 18:46] hanford commented on #165
@ScreamZ Do you know at which point the HTML files are generated?

It's also important to know a lot is changing in workbox v5, specifically they're doubling down on the webpack asset pipeline. You can read more about it here: https://github.com/GoogleChrome/workbox/releases

[2019-07-24 18:48] hanford commented on #141
@Vgurnani it would also be helpful if you created a sample repository that reproduces this problem, I currently don't have enough information on solving your particular problem.

[2019-07-25 12:44] ScreamZ commented on #165
Looks like they are created when running `next export`. I'll take a look closer, thanks

[2019-07-28 20:57] hanford commented on #164
Click around this branch and let me know what you think @derekdowling

I had been meaning to do this for a while!

[2019-07-29 07:43] elken commented on #69
Just to add (not a domain expert so feel free to explain why), but using a simple pipe function like ` (...ops) => ops.reduce((a, b) => (arg) => b(a(arg)))` works for me.

[gist](https://gist.github.com/elken/e60234b360902437ac50697baec43257)

[2019-07-29 15:41] ScreamZ commented on #103
I'll answer because I think there is some misunderstanding from users, I'll make some pull request to the documentation soon to clarify some things that might not be easy to understand when you're new to service workers.

In order to use any service worker in development mode with nextJS you must rely on custom development server.

Just create a new file at root project folder called `server.js` a

[2019-07-29 16:08] hanford commented on #103
PR's are welcome @ScreamZ !

[2019-07-29 22:57] derekdowling commented on #164
Looks great 🎉

[2019-07-30 16:31] #164 closed

[2019-07-31 11:05] Abby3017 opened #169 "Using Background Sync API with next-offline"
## In the case of a feature/component request ✍️
I am using next-offline in my next project and I really appreciate this project for making offline experience implementation seamless for me.
- **Usage**
 I want to use background-sync of [workbox](https://developers.google.com/web/tools/workbox/modules/workbox-background-sync). But unfortunately, I am not getting idea how to use that using config p

[2019-08-01 05:13] ahmedB7r opened #171 "never get service-worker.js even with examples in the package"
![Screenshot from 2019-08-01 07-01-30](https://user-images.githubusercontent.com/47532216/62267216-b385e200-b42b-11e9-8b71-fd96ece5fef0.png)

i just always get this ```(pending)``` in the req , please help

[2019-08-01 15:52] hanford commented on #171
Can you share a repo where this issue is reproduceable? Given what you've shared it's impossible to tell what isn't working

[2019-08-01 16:12] hanford commented on #169
@Abby3017 I've not used the Background Sync API w/ workbox.

What are some of the advantages to it?

[2019-08-01 16:23] #160 closed

[2019-08-01 16:23] hanford commented on #160
done! Thanks for the issue

[2019-08-01 17:59] shahruz commented on #171
I think I've been having the same issue.

I grabbed `now2-example` and attempted to deploy it to now with version 15.8.7. The build failed at first over the `generateInDevMode` flag, removing that and redeploying created a successful build but I get the

```SW registration failed:  TypeError: Failed to register a ServiceWorker: A bad HTTP response code (404) was received when fetching the script.`

[2019-08-02 02:23] ahmedB7r commented on #171
sorry for low details but it even did that with ```now2-example```  and I do like @shahruz did and get the same errors! @hanford

[2019-08-02 13:34] Abby3017 commented on #169
According to this [article](https://developers.google.com/web/updates/2015/12/background-sync),  Background sync is a new web API that lets you defer actions until the user has stable connectivity. This is useful for ensuring that whatever the user wants to send, is actually sent.

This is provided in [workbox](https://developers.google.com/web/tools/workbox/modules/workbox-background-sync). As ne

[2019-08-03 18:23] omaralbeik commented on #163
Having the same problem +1

[2019-08-03 19:18] TonyBrobston commented on #157
I'm going to go ahead and close this as I think I got mostly where I wanted to, however the work I was doing is sort of on hold.

[2019-08-03 19:18] #157 closed

[2019-08-04 15:55] krishaamer commented on #171
Same here-

[2019-08-05 02:40] hanford commented on #171
@shahruz @ahmedB7r @krishaamer master is currently using an alpha version of workbox which has a known bug in it.https://github.com/GoogleChrome/workbox/issues/2138

The Now 2.0 example on the 4.0 branch should work fine.

https://github.com/hanford/next-offline/tree/v4/examples/now2

[2019-08-05 04:48] lolcoolkat opened #174 "Check for update and show refresh modal to user?"
I'd like to implement some custom ServiceWorker code that will check if the Service Worker has been updated and if so; show a modal to the user so they can refresh.

I tried to set the `swSrc` parameter in `workboxOpts` and `generateSw` to false but I was getting errors about `runtimeCaching` not being a valid parameter.

Thanks for any help!

[2019-08-05 05:41] shahruz commented on #171
That fixed it for me. Thanks!

[2019-08-05 08:11] ahmedB7r commented on #171
it's worked thanks :) @hanford

[2019-08-05 10:58] machiaveli88 commented on #171
I run the now2-example and get this error: "Error: Cannot start server when target is not server". :(

[2019-08-05 11:50] lolcoolkat opened #175 "InjectManifest/swSrc Bug"
Found a bug after setting `generateSW` to false and `workboxOpts.swSrc`. If you set generateSW to false.. it will end up using `InjectManifest` instead of `GenerateSW`; however, `InjectManifest` uses the same default `defaultWorkboxOpts` that `generateSW` uses. `InjectManifest` doesn't recognize `runtimeCaching` or `inlineWorkboxRuntime` so my build crashes.

GenerateSW default config (This one wo

[2019-08-05 13:48] #174 closed

[2019-08-05 15:04] lolcoolkat commented on #175
tl;dr - I can't use `swSrc` with `generateSW`

It gives me an error saying `runtimeCaching` and `inlineWorkboxRuntime` are invalid parameters. However I don't have them set in my `workboxOpts`

[2019-08-05 20:59] hanford commented on #175
@lolcoolkat what version of next-offline are you using?

[2019-08-05 21:00] hanford commented on #171
@machiaveli88 can you elaborate a little bit more?

[2019-08-05 21:00] hanford commented on #171
how are you trying to start the now 2.0 example? when was the last time you pulled it down? (it was updated yesterday w/ some fixes)

[2019-08-05 21:31] lolcoolkat commented on #175
@hanford was using ^5.0.0-alpha.0

[2019-08-06 00:06] lolcoolkat commented on #175
@hanford btw I tried 5.0.0-beta.2 and still the same thing..

here's what I ended up doing to fix it.. and it works fine now

[code]

[2019-08-06 07:30] machiaveli88 commented on #171
Hey, thanks for your answer!
I pulled now the new one and when try to build, I get the error `Please check your GenerateSW plugin configuration: "generateInDevMode" is not a supported parameter.`. yarn dev works without any errors/warnings.

[2019-08-07 18:49] hanford commented on #171
that should be fixed from this PR https://github.com/hanford/next-offline/pull/176

Can you pull down and give it another try @machiaveli88

[2019-08-07 21:53] skaptox commented on #171
Right now with that latest commit running yarn && yarn dev I am getting:

[2019-08-08 23:17] antsitvlad commented on #171
same error

[2019-08-10 12:42] Astrantia opened #178 "Custom serviceworker.js path"
Hi. Tried to search all of this project's github, but couldn't find anything that could help me. I have dynamic routes on /* and I'm not using server to fully control it. So my app thinks /service-worker.js is a normal page, not an asset. I'd like to be able to configure next-offline to generate SW in /static, and look for it in /static/ too. Is this achievable currently? I looked in swDest and sw

[2019-08-10 18:51] #175 closed

[2019-08-10 18:54] hanford commented on #175
This should be fixed in `next-offline@5.0.0-beta.3`

Thanks for reporting @lolcoolkat

[2019-08-10 19:35] hanford commented on #69
@elken I think that's a fine approach as well

[2019-08-10 19:36] hanford commented on #171
A contributor landed a fix for this: https://github.com/hanford/next-offline/pull/177

Should be live in `5.0.0-beta.3` feel free to give it a try and report back! 🤞

This 5.0 release will be a large change, so I really appreciate the back and forth!

[2019-08-10 19:37] hanford commented on #178
what version of `next-offline` are you using @Astrantia?

[2019-08-10 20:31] Astrantia commented on #178
Using `    "next-offline": "^4.0.3" `

[2019-08-10 22:51] lolcoolkat commented on #178
Hey @Astrantia this is my next-offline config:

[code]

When you're making your custom `sw.js` file.. don't place it into the `/static` folder. Put it in a different folder. That way next-offline can put the compiled service worker into the static folder itself (with the destination you choose.

I am using Zeit Now with next-offline so I have to set a custom route rule for my service worker:

[cod

[2019-08-10 23:03] Astrantia commented on #178
Thanks for the insightful response. That now.json doesn't work with now2 so I've edited it into
[code]

Upgraded to beta too, but failed deploy on this error

Failed to compile.
[code]
For my use case, I don't want to have a custom service worker.js file, I only want to make my app installable, so I don't have a custom SW.
 

[2019-08-10 23:06] lolcoolkat commented on #178
@Astrantia that wasn't my entire `now.json` config I was posting.. just a part of it :P Can you share your next-offline config?

[2019-08-10 23:08] Astrantia commented on #178
I tried to copy your approach directly :laughing:
[code]
Perhaps I should set `generateSw: true`?

[2019-08-10 23:10] lolcoolkat commented on #178
@Astrantia No I was mistaken; I thought you wanted to use a custom service worker with next-offline. You should be using https://github.com/hanford/next-offline/blob/master/packages/now2-example/next.config.js. I just tried deploying the now-2 example and it worked fine.

[2019-08-10 23:17] lolcoolkat commented on #178
Also @Astrantia NextJS does not think that `/service-worker.js` is a page :P It's only showing up on `/service-worker.js` because that's what's defined in your `now.json` file. If you want to have your service worker show up on another url do the following.

**Line 6 of now.json**
[code]

Line 10 of next.config.js
[code]

[2019-08-10 23:24] Astrantia commented on #178
Thank you so much for following me through this :bowing_man: , I've got it working now. Sorry to open an issue that was not an issue at all. :disappointed:

[2019-08-10 23:24] #178 closed

[2019-08-11 10:51] antsitvlad opened #179 "Register and use service-worker in dev mode"
[code]

[2019-08-11 10:51] antsitvlad opened #180 "Register and use service-worker in dev mode"
Hi guys, sorry for opening new issues, but I'm really tried to find how to solve my problem.

I want to create my own custom service-worker in dev mode to test some features.

Can u please help me to solve my problem?

[code]

this is the link for my repo https://github.com/antsitvlad/next-offline

[2019-08-11 10:54] #179 closed

[2019-08-11 19:05] machiaveli88 commented on #171
same here :(

[2019-08-11 20:35] hanford commented on #171
@machiaveli88 So Now 2.0 works very differently than the other now examples. This example is only really running well when it's actually deploying to Now 2.0 it looks like.

The big gotcha here is Now 2.0 is handling all of the routing once deployed, whereas when running locally we're not getting that functionality.

In the `now.json` we're telling the now platform to handle all requests to `/serv

[2019-08-11 20:37] hanford commented on #153
Going to go ahead and close this, once Workbox v5 is out we'll cut the next-offline v5 release and this will go away.

[2019-08-11 20:37] #153 closed

[2019-08-12 18:40] #162 closed

[2019-08-13 07:19] #180 closed

[2019-08-15 13:00] brunocrosier opened #181 "Issues on redeploy"
Firstly, thanks for creating this! I've been struggling with this issue and would appreciate some insight if you have any :)

**Issue and steps to reproduce.**
1) Deploy using ```now --target production``` . Visit URL. At this point everything is OK. Everything works nicely offline also.
2) Make any change to homepage (eg. change content of a <p>) and redeploy using ```now --target production```.

[2019-08-15 16:44] simonsinclair opened #182 "When using `next export`, static assets are duplicated and pre-cached wrongly"
### Overview
For readability I am referring to `.next/` as the build directory and `out/` as the public directory.

When you `next export` a project, `build/static` is not copied to `public/static` – it is copied to `public/_next/static`. These directories are not the same as the **project** `static` directory where, for example, a user might [serve images](https://nextjs.org/docs#static-file-serv

[2019-08-19 15:55] hanford commented on #182
@simonsinclair can you share which version of next-offline you're using?

[2019-08-19 15:58] hanford commented on #182
Hmmmm, interesting 🙇‍♂️

So in the beta, we're trying to move some of the heavy lifting over to workbox and this might be a new regression.

Can you share if this is working as expected in version 4?

[2019-08-19 15:59] hanford commented on #181
can you share your `next.config.js`?

[2019-08-19 16:22] brunocrosier commented on #181
https://github.com/brunocrosier/password.kiwi/blob/master/next.config.js and ^4.0.3

Thanks!

[2019-08-19 21:40] sarneeh opened #183 "Doesn't work with custom project dir"
1. Create a fresh Next.js project via `npx create-next-app`
2. Install `next-offline`
3. Add `next.config.js` with default `next-offline`
4. Move `pages` to `src/pages`
5. Run `next build src`
6. Error!

`next.config.js`
[code]

Error:

[code]

As you can see the error is throwing at `next-offline/next-manifest.js:41:26`.

### Notes
`next.js`: 9.0.4
`next-offline`: 4.0.3

[2019-08-21 17:34] hanford commented on #183
merged the fix into the v4 branch and released v4.0.4

Thanks for the issue/fix!

[2019-08-21 17:34] #183 closed

[2019-08-21 17:46] sarneeh commented on #183
@hanford Thank you very much for such a fast response! :)

[2019-08-21 18:12] sarneeh opened #185 "generateNextManifest runs before workbox-webpack-plugin finishes"
Hey @hanford! I'm sorry but it seems that I've tested my recent PR (#183) incorrectly and it did not change anything. I've misunderstood the `webpack` hook API.

What we need to do is to hook on [afterEmit](https://webpack.js.org/api/compiler-hooks/#afteremit) instead of [done](https://webpack.js.org/api/compiler-hooks/#done), as `done` runs after compilation, which - by testing those solutions -

[2019-08-21 21:06] hanford commented on #185
released the fix in v4.0.5!

[2019-08-21 21:06] #185 closed

[2019-08-23 04:45] davisbartce commented on #127
@hanford  I have the same problem but in a pm2 server in nginx
![image](https://user-images.githubusercontent.com/8561386/63567363-e016b080-c536-11e9-897a-dbe2c4d933ad.png)

but in now work perfect any idea ??

[2019-08-23 05:06] davisbartce commented on #141
https://github.com/davisbartce/next

Good night, How are you? I hope someone can help me, I have the same problem , but on my server nginx with pm2 for the nextjs application, but I can't find a solution, in NOW it works perfectly.
If it's any use and my site is in the following structure /var /www/html/nextjs.

this way I execute my project on the server:

sudo npm run build
sudo pm2 start npm --

[2019-08-23 05:17] hanford commented on #127
No idea! maybe you need to set something up manually in nginx?

[2019-08-23 17:17] davisbartce commented on #127
@hanford  the nginx configuration is ok, the site work but the service worker is not found,,. maybe you now where is the directory to generate this file??   y wrote the detail in this isue https://github.com/hanford/next-offline/issues/141

[2019-08-26 06:32] kasterlod commented on #163
@aralroca @omaralbeik hello! I had the same problem.

I fixed it by edit `urlPattern` to cache only requests, with default pattern it's caching everything, but seems like we don't need it. Thanks of that I decreased cache size from 1000+mb to about 25mb.
In my opinion with default pattern, images was cached twice or even more, and because of that there was such huge size of cache.

Please let me k

[2019-08-26 13:43] thathurtabit opened #187 "Current page does not respond with a 200 when offline"
Hi there, firstly thanks for your work with this plugin and thanks for any help to point me in the right direction here.

I'm 95% sure this problem I'm facing is due to my setup, as it *is* registering the service worker, but the service worker doesn't seem to work when offline.

"Current page does not respond with a 200 when offline."

You can view the live site here (see after running a lighthou

[2019-08-27 06:59] omaralbeik commented on #163
Thank you @kasterlod!
Could you please share the part where you define `urlPattern` to cache only requests

[2019-08-27 07:20] kasterlod commented on #163
based on your's part of code:
`runtimeCaching: [
      {
        urlPattern: /^https?.*api/, -> *here put regex which matches only your api*
        handler: 'CacheFirst', -> *let's use cache first, you'll like it*
        options: {
          cacheName: 'offlineCache',
          expiration: {
            maxEntries: 50,
            maxAgeSeconds: 30 * 24 * 60 * 60, -> * you need to think how ofte

[2019-08-31 12:27] omaralbeik commented on #163
Thank you @kasterlod!

[2019-09-03 21:05] Siegrift commented on #171
Thanks for this package, I really like the work you saved me :)

However I am experiencing the same issue _(after running `next dev`)_:
[code]

These are my dependencies:
[code]

_I am using `canary` next because I use firebase for deployment, and it works currently only in canary_

Also, I tried `rm -rf node_modules yarn.lock` and install deps again, but got a few warnings:
[code]

When I tried `

[2019-09-07 06:32] throwarray opened #188 "Source and destination must not be the same."
The need for a custom server just to serve a sw file from root is a headache so I'm using /public as the swDest. It seems to work fine with dev / build but not when I use next export.

[code]

Next config
[code]

[2019-09-08 02:39] #188 closed

[2019-09-09 09:43] cngeru opened #189 "Does next-offline come with a pre-installed service worker"
I keep getting `SW registration failed:  TypeError: Failed to register a ServiceWorker: A bad HTTP response code (404) was received when fetching the script.`

Any Solution To This ?

[2019-09-09 14:27] cngeru commented on #189
Add server.js if you're new to this

[2019-09-09 14:27] #189 closed

[2019-09-09 21:42] Siegrift commented on #171
@hanford Do you have an idea what am I doing wrong?

[2019-09-10 00:08] Siegrift commented on #171
Ok, first of all sorry for not including my `next.config.js`. I fixed my issue by setting `generateInDevMode` to `false`. My **working** config now looks like this:
[code]

[2019-09-11 07:06] riksphp opened #190 "Hi there,"
# 🎉 Thanks for taking the time to contribute to next-offline!

It is highly appreciated that you take the time to help improve next-offline.
We appreciate it if you would take the time to write up a bug report or feature request.

Sadly, if we don't receive enough information, or the issue/feature request doesn't
align well with our roadmap, we might respectfull thank you for your time, and close

[2019-09-11 07:36] riksphp commented on #190
Hi,

In my project, I am using NextJS+KOA+Apollo. My nextJS app is inside client in root directory.

Nextjs app is inside `client` directory. koa server is inside `server` directory.

when i am building the app via below command:
`next build client && tsc --project tsconfig.server.json`

it creates a `build` directory inside client for nextjs and `dist` directory at the top level for koa server.

[2019-09-12 04:27] riksphp commented on #190
I have done a dirty fix for now. I am not sure how to handle it properly. I will really appreciate if anyone can put forth their view on this.

As bo.svg, firfox.svg, all these static files are throwing 404,
Ex - (/_next/bo.svg?__WB_REVISION__=e02afe0476bb357aebde18136fda06e0)
in my file to start koa server, added a condition to check this URL and serve static file from build directory like below:

[2019-09-16 19:04] hanford commented on #163
Going to close this out, feel free to reopen if you have additional questions!

[2019-09-16 19:04] #163 closed

[2019-09-17 06:52] khanbaba commented on #190
We are using nextjs + next-offline + express.
we had the same problem, and the problem was because workbox-precacher try to get some files from '_next/' directory which the express does not serve them.
I have add two directory for static files to be server: one is 'static' and another is '_next' as follow:
`app.use('/static', express.static(path.join(__dirname, '/static')))
  app.use('/_next', exp

[2019-09-18 00:51] hanford commented on #190
@khanbaba which version of next-offline are you using?

[2019-09-18 04:44] khanbaba commented on #190
version 4.0.0

[2019-09-26 00:39] kmjennison commented on #190
Possibly related: I was getting a 404 for _error.js in development, which caused the service worker installation to fail. The list of files to precache in `service-worker.js` included `http://localhost:3000/_next/static/development/pages/next/dist/pages/_error.js`, which doesn't exist.

Defining a custom _error.js file in the `pages` directory fixed the problem. After that, the service worker no l

[2019-09-26 16:23] hanford commented on #190
yeah @khanbaba could you try out the 5.0.0 beta? It's using a new version of workbox which is what is powering next-offline.

[2019-09-30 05:53] khanbaba commented on #190
@hanford yes. I have tested next-offline 5.0.0-beta.4. The problem not solved.
thanks.

[2019-10-04 10:13] urkopineda opened #192 "Issues combining i18n subpaths and service worker"
I have a problem using i18n locale subpaths of `next-i18next` package and a service worker. I have created a custom `express` server to include a middleware that when entering in `/` the user is redirected to `/es`, `/en`... depending of the language of the user's system.

Here is the server code:
[code]

The bug (or could be a configuration problem) is that the service worker can't be registered

[2019-10-04 10:54] urkopineda commented on #192
I finally fixed it adding `/service-worker.js` to the `ignoreRoutes` of `next-i18next` config, sorry for posting this issue here. Thanks!

[2019-10-04 10:54] #192 closed

[2019-10-05 08:21] ardeaf commented on #174
Did you figure this out?

[2019-10-08 15:08] SiroDiaz commented on #187
@thathurtabit are you sure that the service worker is been served with `res.sendFile`? i tried it but i get an error saying that res.sendFile is not a function. I have a very similar setup.

[2019-10-15 02:49] x4080 opened #194 "I got this message when npm run build"
[code]

Is this normal ?

Thanks

[2019-10-15 12:55] Koen028 commented on #194
Are you using the new Next.js 9.1 feature: `public` folder?

[2019-10-15 17:31] hanford commented on #194
@x4080 we're also going to release next-offline version 5 soon, which fixes this

[2019-10-15 21:11] x4080 commented on #194
@Koen028 Yes

@hanford  Thanks

[2019-10-16 01:34] hanford commented on #194
@x4080 please feel free to try the 5.0.0-beta and let me know if it's still happening, going to go ahead and close this as it'll be fixed in the next version we release

[2019-10-16 01:34] #194 closed

[2019-10-16 22:22] x4080 commented on #194
Yes it works now, thanks !

[2019-10-18 09:57] wilmervanheerde opened #195 "Doesn't work if generateInDevMode set to true"
Error when service worker generation is set to true in development mode

Seems to be related to #183 and #184
### Steps to reproduce:
 1. Create new Next project `npx create-next-app`
 2. Install next-offline `npm install next-offline`
 3. Copy default config from readme into `next.config.js`
 4. Set option `generateInDevMode` to `true`
 5. Launch Next.js in development mode `npm run dev`

### Sta

[2019-10-18 15:30] theJoeBiz commented on #195
I just ran into this too and I assume it's because the README is for the beta version (currently `5.0.0-beta.7`). Running `npm install next-offline@^5.0.0-beta.7` fixed it.

[2019-10-19 19:10] talentedandrew commented on #187
@thathurtabit This might be because of the 'start_url' and 'scope', mentioned in your `manifest.json` file. Can you share your `manifest.json` file?

OR

`swDest: 'static/service-worker.js'` in your `next.config.js` is relative to the webpack output path.

Change it to `swDest: 'service-worker.js'` and also change the express GET handler  from `return res.sendFile(__dirname + '/static/service-work

[2019-10-20 07:18] Tirex04 commented on #187
I am having same issue
Current page does not respond with a 200 when offline

static/manifest.json
`
...
"background_color": "#777777",
  "display": "standalone",
  "orientation": "portrait",
  "Scope": "/",
  "start_url": "/",
...icons
`

server.js
`
const { createServer } = require('http')
const { join } = require('path')
const { parse } = require('url')
const next = require('next')

const app =

[2019-10-22 08:58] wilmervanheerde commented on #195
Thank you, that fixed it for me. Using beta version is fine for me, it's not prod code.

[2019-10-22 20:00] chrisciampoli commented on #190
Hitting the same issue when deploying to production (staging).  Transitive builds dont seem to have this issue.

[2019-10-22 22:59] GozuPro opened #196 "Video not playing on Safari"
Hello there,

Are you aware with next-offline, mp4 videos aren't playing in Safari?
However, they play perfectly with incognito browser.

<img width="1324" alt="Screen_Shot_2019-10-22_at_3_55_55_PM" src="https://user-images.githubusercontent.com/6925462/67341447-899d0280-f4e4-11e9-8d7e-94817bef3e71.png">

Apparently, I found this article which explains the reason behind it: https://philna.sh/blog/

[2019-10-24 07:14] imbudhiraja opened #197 "Help Wanted - Working with without now"

[2019-10-24 18:21] GozuPro commented on #196
I'm still doing some QA but believe @xcv58 fixed the issue with the following PR: https://github.com/xcv58/next-offline-issue-77/pull/1/files

[2019-10-24 18:26] xcv58 commented on #196
If it still doesn't work for you on Safari, probably caused by: https://stackoverflow.com/a/14018708

[2019-10-25 00:06] hanford commented on #196
If you guys land on a good fix, I'd be more then happy to merge it if you send a
PR my way!

[2019-10-26 19:32] mattvb91 commented on #171
same issue here     "next-offline": "^5.0.0-beta.8"

[2019-10-26 23:26] x4080 opened #198 "Question : best practice for versioning ?"
Hi @hanford

Is there best practice for versioning ? If we change the pages of next js and upload to server, what should we do to refresh the cache already in client's pwa ?

I tested and when I refreshed the client, it will load the latest version, is this the way ?

Thanks

[2019-10-29 16:35] hanford commented on #198
That's what I do!

[2019-10-29 16:35] hanford commented on #198
Going to go ahead and close this, because I don't think it's an issue, feel free to open another issue if you run into anything

[2019-10-29 16:35] #198 closed

[2019-10-29 16:36] hanford commented on #197
I'd read this portion of the docs: https://github.com/hanford/next-offline#now-10

Going to go ahead and close this, because this doesn't sound like an issue, more of a question.

Please feel free to open another issue if you run into anything!

[2019-10-29 16:36] #197 closed

[2019-10-29 16:37] #195 closed

[2019-10-29 21:37] x4080 commented on #198
Thanks @hanford

[2019-11-02 15:27] tiotdev commented on #187
I had the same problem. Turns out that the default caching strategies are overwritten when using custom workboxOpts. Changing

[code]

to

[code]

did the trick for me

[2019-11-03 20:19] semyou opened #199 "When offline Images do not display even when in the precache"
Steps to reproduce:
1. Open chrome
2. Open developer tool on chrome.
3. Go to Application
4. Click on clear cache > Reset site Data.
5. Visit https://planeau.com
6. In developer tools, go to the application panel > service workers > check offline.
7. Now click on Blog link on the website.

Expected results:
Blog page will load with images.

Actual results:
Blog page doesn't load with images. Even

[2019-11-05 14:01] khanbaba opened #200 "need precaching requests to be on back thread not main thread"
# Why all precaching requests are in main thread ?
after fetching service-worker.js and registering it all precaching requests are fetched in main thread.
this makes some important resource request state to be 'pending'.
Is it possible to set priority for precaching requests or fetch them at back thread instead of main thread ?
- We are using nextjs + next-offline 5 + expressjs

[2019-11-06 16:47] codifius opened #201 "now2-example dosen't work"
when i download [now2-example](https://github.com/hanford/next-offline/tree/master/packages/now2-example) from the repository and i made :

- npm install
- npm build
- npm start

I have an error : "Failed to register a ServiceWorker for scope" in the console when i lunch the app in localhots:3000

[2019-11-07 03:02] MistaPidaus commented on #198
Hi @hanford. I've noticed that once I updated some of my components, didn't change immediately. I've refresh the client/browser but remain the same. I've checked that there's a service worker that is waiting to activate. Is there a way to trigger this? or just automatically skipWaiting?

Thanks

[2019-11-07 03:17] MistaPidaus opened #202 "Update service worker"
Reference issue: https://github.com/hanford/next-offline/issues/198#issuecomment-550600422

Is there a way to handle this? I have to manually skipWaiting on browser in order to see changes/updates. Can't do the same on mobile.

[2019-11-07 09:11] dennispassway opened #203 "Support static `/public` directory"
As of Next.js 9.1 the `/static` directory is deprecated and static files should be placed in the `/public` directory. [See blog release.](https://nextjs.org/blog/next-9-1#public-directory-support)

next-offline is still looking for the `manifest.json` in the `/static` directory.

It would be awesome if it also supported a `manifest.json` in the `/public` directory so we can get rid of the `/static

[2019-11-08 00:25] hanford commented on #203
Would you be interested in making the change in a PR?

[2019-11-11 10:08] kishanio commented on #198
@hanford service workers on safari don't update upon client being updated.

[2019-11-14 05:50] bcjohnblue commented on #201
I meet the same problem too.

[2019-11-17 23:42] allenylzhou commented on #201
I just updated to next-offline@5.0.0-beta.9 and I am still experiencing this.
The reason for the error is that it `localhost:3000/service-worker.js` is returning a 404. Do we have to manually create the file or change something in the config?
[code]

My config:
[code]

[2019-11-17 23:55] hanford commented on #203
This should be fixed now, if anybody discovers anything please open a new issue

[2019-11-17 23:55] #203 closed

[2019-11-18 09:03] dennispassway commented on #203
Sorry for not responding to your question, I missed the mesage. Thanks a lot for this fix!

[2019-11-18 12:55] robertu7 opened #205 "Wrong precache manifest at 5.0.0-beta.9"
## Issue
I updated to 5.0.0-beta.9 and run build next, the output `service-worker.js` contains files that in `build/public` (starting with `_next/public/`):

![image](https://user-images.githubusercontent.com/4065233/69053719-fef8e600-0a44-11ea-82da-b003d6a5d609.png)

Which will cause 404 in precache requests since Next.js doesn't handle `_next/public` .

## Expect
Only contains files that in `bui

[2019-11-18 14:17] JipSterk commented on #205
what version of `next.js` do you have?

[2019-11-18 14:33] robertu7 commented on #205
@JipSterk Sorry, It's 9.1.2.

My directory structure of static files is:

[code]

[2019-11-18 16:11] hanford commented on #205
@robertu7 can you try next-offline@5.0.0-beta.10 and report back?

[2019-11-18 17:07] robertu7 commented on #205
@hanford `5.0.0-beta.10` is working fine!

[2019-11-18 17:07] #205 closed

[2019-11-19 00:43] shih-js opened #206 "next-offline setup with nextjs 9"
Hello world 👋🏼

I'm trying to convert an existing web app to a PWA, but for the life of me cannot get working. After spending hours googling around, I came across this post on spectrum `https://spectrum.chat/next-js/general/was-the-option-for-next-config-js-removed~1c53d740-e740-421b-bdd8-5a57f24bca23`

Can anyone confirm that they've remove support for next.config.js in 9+?

[2019-11-19 00:45] hanford commented on #206
they aren't (or at least I don't think so??) @shih-js

This app is on next 9.0.0 with a next.config.js https://github.com/hanford/personal-website

Going to go ahead and close this as it's not really an issue w/ next-offline

[2019-11-19 00:45] #206 closed

[2019-11-19 06:43] ShanonJackson commented on #201
Pretty sure its because you have to deploy it, as this works along side the routes configuration in now.json

[2019-11-19 09:07] codifius commented on #201
@ShanonJackson thanks it works when I deployed it.

[2019-11-19 09:07] #201 closed

[2019-11-20 16:40] Moikapy commented on #190
I created a _error.js page and this kept the error from logging in v5.0.0-beta.9

[2019-11-24 14:52] ccambournac commented on #190
Don't if it the good way to go to but I had the same issue and added precache manifest transformation to `workboxOpts` in order to remove unwanted URL prefixes: https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.ManifestTransform
Like this:
[code]
I suspect however an initial misconfiguration from my side.

[2019-11-25 23:15] do-diegoortiz commented on #183
@sarneeh Is there a reason to move pages to src/pages?
I'm having a similar error with the last version, but is not a fresh project.

[2019-11-26 07:32] sarneeh commented on #183
@do-diegoortiz No reason, I just like this project structure 😃

[2019-11-26 07:36] himanshu-dhiman26 opened #207 "Manifest not found for offline mode. Error while testing in Lighthouse."
Hi,

I am facing an issue while configuring my app to support PWA. I am using this package and this is how I am using it in my Next JS app.

I followed your `now2-example` for configurations.

Following are my configuration files.

`next.config.js`
[code]

`manifest.json` -> in public/manifest.json

[code]

`now.json`

[code]

When deploying using `now --prod`. Everything seems fine.
- Service Wor

[2019-12-02 09:46] aequasi commented on #190
looks like `transformManifest` is gone now, from next-offline?

[2019-12-03 11:12] rrjanbiah commented on #169
@hanford Is this possible yet with `next-offline`?

[2019-12-03 11:16] rrjanbiah opened #208 "Feature: Offline example that uses API call, say todo app"
Some example using API calls will be a good starting point for other apps that use this `next-offline`.

[2019-12-03 18:00] lookapanda commented on #141
Why is this still an open issue? Is there no solution?

[2019-12-04 18:12] derekdowling opened #209 "Pre-Caching Breaks With Next 9 File Routing"
## Issue

Using Next 9's [Dynamic Routing](https://nextjs.org/docs#dynamic-routing) results in page bundle file paths that contain URL characters (e.g. `[` and `]` in `/blog/[postID].js`) which should be URL encoded (Next.js does this when using their built-in Link preloader).

Requesting these raw unsafe URL paths, for many systems, can cause the request to be rejected causing pre-caching to erro

[2019-12-08 08:10] JensMeindertsma opened #210 "When will V5 be released?"
Can you please give me some sort of roadmap on when you plan to release V5?

[2019-12-09 04:44] mfix22 opened #211 "Use Next.js rewrites config"
Hey @hanford what are your thoughts on using the new ["Custom Routing" `rewrites`](https://github.com/zeit/next.js/issues/9081) to add this rewrite:
[code]
rewrite automatically?

[2019-12-09 17:54] hanford commented on #210
@JensMeindertsma v5 will come out once Google's workbox v5 stable is out!

https://github.com/GoogleChrome/workbox/releases

[2019-12-09 17:54] hanford commented on #210
Going to close this as it's not really an issue, happy to answer other questions though.

[2019-12-09 17:54] #210 closed

[2019-12-09 17:55] hanford commented on #211
Definitely not opposed!

Does this mean you wouldn't need to manually handle the service worker in your `now.json`?

[2019-12-11 00:15] hanford commented on #209
Interesting, yeah we should definitely fix this 👀

[2019-12-11 02:09] mfix22 commented on #211
As far as I can tell from the rewrites proposal that shipped, yes!

[2019-12-13 10:27] rix1 commented on #207
I had the same issue and I think I figured it out: There was some issues with the new folder structure `/src/` and/or the `public/static` changes introduced in Next 9.1. My fix was to update the `/public` path in [next.config.js](https://github.com/rix1/46brew/pull/7/commits/7e7be470184341ab12bb408605379f65ce3f35b8)

[code]

[2019-12-15 00:22] huggler commented on #190
I have the same problem! I register my serviceWorker perfectly, but if i generate new version, nextjs not get the new version...and broken the page

[2019-12-15 21:15] hanford commented on #211
@mfix22 would you be interested in a PR? I've been really busy lately 😅

[2019-12-16 01:32] mfix22 commented on #211
@hanford I'll try and get to it sometime, but I wouldn't assign me yet in case someone else can take it

[2019-12-17 17:54] JensMeindertsma opened #212 "Request to /service-worker.js responds with 404"
**Repo:** _https://github.com/JensMeindertsma/next-offline-404_

I am trying to get `next-offline@5.0.0-beta.11` to work with `next@9.1.6`. I have created a basic project by running `npx create-next-app pwa` followed by `npm i next-offline@5.0.0-beta.11`. I have included this repository. I have created a basic `next.config.js` file that looks as follows:
[code]

My server.js looks as follows ( _co

[2019-12-18 02:44] johhansantana commented on #207
hey @rix1 I'm having somewhat the same issue here:
![image](https://user-images.githubusercontent.com/9933887/71051451-bb19ff00-211e-11ea-9220-26e3d13f6a7e.png)

I tried adding your solution but still same error:
[code]

[2019-12-18 10:21] aalibaabaa commented on #212
Hi @JensMeindertsma ,

I had a similar issue. In my case, I set the distDir value to _next

`const nextConfig = {distDir: '_next'};`

but forgot to change the path in the `server.js`

[code]

After changing this, the service-worker could be served again.
Maybe you have a similar issue.

[2019-12-18 10:33] JensMeindertsma commented on #212
Dear Alibaabaa, as you can see in the repo, everything is default with no settings changed, so this can't be the issue. Thanks for helping out though!

[2019-12-18 14:37] rix1 commented on #207
You're using Now 2, right? Try using `now dev` to spin up a local, serverless environment: https://zeit.co/blog/now-dev

[2019-12-18 15:05] JensMeindertsma commented on #212
@hanford could you please take a look at this issue? I've provided a repo and all steps to replicate

[2019-12-18 16:27] JensMeindertsma commented on #212
**Solution**
After reading the docs at _[https://github.com/hanford/next-offline](url)_ again, and still not finding a solution, I checked the Next.js docs. Specifically, I looked at the section at _[https://github.com/zeit/next.js#custom-server-and-routing](url)_. A snippet from this section:

**When reading the _`next-offline`_ documentation again, this _very crucial_ information is not written

[2019-12-18 16:27] #212 closed

[2019-12-18 19:13] hanford commented on #212
@JensMeindertsma I'd love a PR adding a bit about this to the documentation

[2019-12-23 21:36] nathanredblur opened #213 "next-offline 5.0.0-beta.11 generate caching for sourcemaps"
My serviceworker is requiren for cachin my sourmap files. this is my next configuration:

[code]

in my SW I have outputs like

[code]

I think that use `transformManifest` could fix my issue but is not executed.

[2019-12-24 17:20] nathanredblur opened #214 "On use swDest in development, the service-worker is generate in other path."
if you modify the `swDest` option to generate the serviceworker in other path, this not affect the path to generate the development service-worker.

I need to see the code to fix this, but would be nice to have this in the documentation.
this is the fix to generate serviceworker in development in the right path.

[code]

thanks

[2019-12-24 19:27] electather opened #215 "error during compilation"
hi , I tried adding this lib to my project but now when i try to compile my app i get the following error
[code]
and this does not seem to be related to this single component. when i deleted the component i got the next component import as an error
`Module not found: Can't resolve '@Components/common/modal' in 'D:\Development\Projects\Ghazalgoo 2.0\web-client\pages'`
i use typescript and absolute

[2019-12-24 20:05] hanford commented on #215
It might be worth trying  to remove `next-compose-plugins` the two packages are known to not play nice together

[2019-12-29 04:10] hipstersmoothie commented on #207
Have you added a link to the manifest in your head? It took me a little to figure that out since it doesn't point it out in the readme. I assumed this plugin would do it for me but it doesn't (and I'm not sure it can)

[2019-12-29 06:46] jasonharrison opened #216 "The static/ directory is deprecated. Use the public/ directory instead."
[code]
The static/ directory was deprecated in Next 9.0.6; we should use the public/ directory instead.

Looks like https://github.com/hanford/next-offline/blob/master/packages/next-offline/index.js#L13 needs to be changed.  Anything else?

[2019-12-31 11:40] rohmanhm commented on #216
Looks like they are already implementing that and then revert the commit. https://github.com/hanford/next-offline/commit/d16b381812ba8ecc623f7b792c86ff2956c97bb8

[2020-01-06 04:05] hanford commented on #216
yeah @rohmanhm it caused a major regression, which IIRC entirely broke next-offline

[2020-01-09 09:38] rahul3103 opened #217 "Getting warnings while yarn build"
# Getting warnings while `yarn build`

[code]

## In the case of a bug report 🐞

- Issue and steps to reproduce:-  Just added in config and did `yarn build`
- Versions:- ^4.0.6

[code]

[2020-01-09 09:52] bluelovers commented on #217
same here and

[code]

[2020-01-10 11:57] lukovskij commented on #69
you can wrap only config object to withOffline:
withPlugins(
  [[optimizedImages, {}], withBundleAnalyzer],
  withOffline({
   ... your next.config object.
})
)

[2020-01-10 16:38] blainegarrett opened #218 "Security Update for serialize-javascript"
Receiving a moderate security warning when installing latest next-offline 4.0.6 using npm 6.9.0
Running npm audit fix wouldn't auto fix.

[code]

[2020-01-15 03:55] maysam commented on #214
[code]

is working for me in development environment at https://github.com/maysam/testingnextjs

What I find interesting is that the script is not registering the service-worker.js from the same place it is generating it and why we need to change the swdest, because even in production, you need to change it it you are not using 'now'